[2015-03-27 19:39] timmywil commented on #342
:+1:

[2015-03-27 20:17] arthurvr commented on #462
One of you who's willing to review #685?

[2015-03-27 20:35] #342 closed

[2015-03-28 13:43] arthurvr commented on #503
@kswedberg Are you still interested in taking this (or already working on it)?

[2015-03-28 13:44] arthurvr opened #686 "jQuery.merge: add note about it correcting the `length` property"
https://github.com/jquery/jquery/issues/2155

[2015-03-28 13:44] arthurvr commented on #351
Yup. Will take this one.

[2015-03-28 13:45] arthurvr commented on #318
It looks like for `append()` and `prepend()` this is already fixed. I'm opening a PR for the other entries.

[2015-03-28 14:41] kswedberg commented on #503
@arthurvr : oh boy, I think I've littered this repo with a million little promises like that. I keep thinking I'm going to find time right around the corner, but I discover that I have less and less. Please feel free to take this on if you're willing and able.

[2015-03-28 17:11] #318 closed

[2015-03-29 06:22] dandv commented on #420
I was also tripped by this and spent a good half hour trying to figure out how to determine when exactly the callback was fired ([jsbin](http://jsbin.com/puyuyi/4/edit?html,js,console). Maybe the documentation should be amended to something like,

[2015-03-30 05:01] #679 closed

[2015-03-30 18:49] timmywil opened #689 "jQuery.fn.unwrap() now supports selector"
See https://github.com/jquery/jquery/issues/1744

`.unwrap( selector )`

[2015-03-30 18:51] arthurvr commented on #689
Once I have a little of time I'll take this one. Thanks for opening the ticket Timmy.

[2015-03-31 11:28] arthurvr commented on #351
For jQuery.post this is already done: https://github.com/jquery/api.jquery.com/commit/4664f1ba316fb477915c8aea99ef0e2fdba88472.

[2015-03-31 15:15] #462 closed

[2015-03-31 15:38] #393 closed

[2015-03-31 15:39] arthurvr commented on #393
Finally this landed. Thanks for reporting this, @hesselink, sorry it took that long ;)

[2015-03-31 15:42] hesselink commented on #393
Thanks for the fix! Better late then never ;)

[2015-04-02 15:12] arthurvr commented on #164
On it. @dmethvin or anyone else: added in 1.4.3, is that right?

[2015-04-02 16:38] arthurvr commented on #164
This ticket has been open for years too long so here we go: https://github.com/jquery/api.jquery.com/pull/693.

[2015-04-02 17:51] #164 closed

[2015-04-04 20:02] AurelioDeRosa opened #695 "jQuery.unique() removes duplicated numbers and strings"
It's well known that [jQuery.unique()](http://api.jquery.com/jQuery.unique/) works with arrays of DOM elements and not arrays of strings and numbers. This is also highlighted by the documentation page:

However, it **does** work with arrays of numbers and strings as well ([proof](http://jsfiddle.net/j8cq841g/)).

So, either the documentation should be updated or this feature is intentionally secre

[2015-04-04 20:15] timmywil commented on #695
I'd rather not guarantee that `jQuery.unique` work with number/strings, even if it does right now. That particular function has gone through many revisions and we've only ever focused on sorting nodes in document order and removing the duplicates there. If we had to support numbers and strings as well in future revisions, it could cause serious headache.

[2015-04-04 20:16] AurelioDeRosa commented on #695
What do you think about adding a note about this in the doc @timmywil?

[2015-04-04 20:17] timmywil commented on #695
Maybe something like "this method may work with numbers and strings, but is not supported"?

[2015-04-04 20:17] timmywil commented on #695
and may break in future versions.

[2015-04-04 20:20] arthurvr commented on #695
If something isn't supported it should not even be mentioned IMHO.

From the moment we start telling people it works we'll have to support it for like... always. Plus people might run into rough edges like the `[NaN, NaN]` case. Cc'ing @gibson042 @dmethvin but I'm :-1:.

[2015-04-04 20:53] AurelioDeRosa commented on #695
@timmywil Yes, I was thinking about something like that.

@arthurvr I don't think a note that asserts **not** to use the method with numbers and strings forces us to support that feature. Also, it has the advantages of avoiding people reporting the same issue again.

[2015-04-04 23:31] scottgonzalez commented on #695
It actually doesn't work with numbers. `[1, 5, 3, 99, 2, 6, 9]` is most certainly not sorted.

[2015-04-04 23:38] AurelioDeRosa commented on #695
@scottgonzalez not sorted but with the duplicates removed as the title states.

[2015-04-05 00:57] dmethvin commented on #695
The docs seem pretty clear to me right now:

There are certainly other cases that might work, but the docs don't guarantee it nor should they.

[2015-04-05 01:09] AurelioDeRosa opened #696 "Incorrect information for the selector property"
In the documentation of the [`selector` property](http://api.jquery.com/selector/) we assert that it was removed in jQuery 1.9. However, this is not true as it's still available in versions 1.11 and 2.1, and it'll be removed in jQuery 3.0 ([issue #1908](https://github.com/jquery/jquery/issues/1908)).

[2015-04-05 21:58] AurelioDeRosa opened #698 "wrap() uses the first element when provided a jQuery object"
The documentation of the [`wrap()`](http://api.jquery.com/wrap/) method asserts that a jQuery object or a string containing a selector can be passed as an argument. However, in case a selector matching more than one element or a jQuery object containing more than one element is passed, only the first (element) is used as the wrapper.

This detail is not specified and I think it's worth to add it.

[2015-04-06 01:15] dmethvin commented on #698
Seems like a good idea. I don't know that I've ever seen it used with a selector to be honest!

[2015-04-06 01:45] dmethvin commented on #696
In 1.9 it was [neutered](https://github.com/jquery/jquery/pull/1006) in that most of it was removed and only a small amount of the previous functionality was left behind. I agree we should change the "removed" to 3.0 though. That page is pretty ugly in general and could use some paragraph breaks!

[2015-04-06 08:42] arthurvr commented on #600
So, what's the consensus in here?

[2015-04-06 08:48] arthurvr commented on #61
@timmywil @dmethvin Could we drop this into the core meeting agenda for the Mon 4/13? [gnarf said he wasn't available today](http://irc.jquery.org/%23jquery-dev/default_%23jquery-dev_20150405.log.html#t06:24:50).

[2015-04-06 09:02] arthurvr commented on #698
:+1: https://github.com/jquery/api.jquery.com/pull/700.

[2015-04-06 10:12] markelog commented on #600
@arthurvr will bring this up on today's meeting

[2015-04-06 10:13] arthurvr commented on #600
@markelog Awesome, thanks!

[2015-04-06 13:24] gibson042 commented on #695
I agree with @dmethvin; the documentation is decent as-is and DOM nodes are the only valid input... behavior for invalid input is, as always, undefined.

[2015-04-06 13:24] #695 closed

[2015-04-06 13:32] #698 closed

[2015-04-06 13:55] arthurvr commented on #696
Will do it.

[2015-04-06 13:59] arthurvr commented on #619
@arangas Sure. PR welcome! Be sure to [sign the CLA](http://contribute.jquery.org/CLA/).

[2015-04-06 14:36] timmywil commented on #61
@arthurvr yup

[2015-04-07 16:29] mzgol commented on #686
This is documenting currently undocumented behavior so I'd like @jquery/core to approve it first.

[2015-04-07 16:51] markelog commented on #686
We say that `merge` excepts arrays not `array-like`s, therefore we would need to get funky of explaining why jquery corrects the length.

Do we need to document that? Essentially, we would be documenting `array-like`s as acceptable arguments, if user uses `merge` correctly, their wouldn't even know about that side-effect.

[2015-04-07 16:54] mzgol commented on #686
The problem is `jQuery.merge` is public and de facto accepts array-likes; people use it to e.g. merge with the `arguments` object. So we might as well document this behavior, I doubt it'll ever change.

[2015-04-07 17:00] timmywil commented on #686
Agreed. However, although we use this term in [several places already](http://api.jquery.com/?s=array-like), I think we should document what exactly "Array-like" means, perhaps [on the types page](http://api.jquery.com/Types/#Object).

[2015-04-07 17:03] mzgol commented on #686
@timmywil Good idea.

[2015-04-08 20:19] dmethvin opened #708 "Create an "Array-Like" type"
As suggested by @timmywil in https://github.com/jquery/api.jquery.com/issues/686#issuecomment-90646439, add an "Array-Like" type to our Types page to clarify when a method accepts more than just `Array`. Perhaps something like this:

[2015-04-09 10:55] #619 closed

[2015-04-09 11:26] arthurvr commented on #708
Yup, :+1:. I'll take this one.

[2015-04-09 11:35] arthurvr commented on #103
This was fixed in https://github.com/jquery/api.jquery.com/commit/2123d42a43f5bb46b7564a81184cd224d7fb4b31, seems like GitHub didn't auto-close.

[2015-04-09 11:35] #103 closed

[2015-04-09 11:47] arthurvr opened #709 "jQuery(): add note about support of text nodes"
The default assumption should be that text nodes aren't supported by our APIs. We should add a note about it in the "using dom elements" section. Discussion started over at https://github.com/jquery/api.jquery.com/pull/592.

Perhaps we should also add it to `.contents()` which is another place where text nodes can sneak in.

[2015-04-09 11:50] arthurvr commented on #709
@pcj We're, as mentioned in the PR, still interested in hearing how the text node ended up in the collection.

[2015-04-09 12:15] #351 closed

[2015-04-09 13:19] arthurvr commented on #689
There we go: #711

[2015-04-09 16:28] arthurvr commented on #689
Fixed in v3 branch.

[2015-04-09 16:28] #689 closed

[2015-04-09 18:57] gibson042 opened #712 "Clarify description of .val( array )"
Ref jquery/jquery#2195

The paragraph on https://api.jquery.com/val/#val-value starting with "Passing an array of element values" is inaccurate, and less clear than it could be. In actuality, we implement two similar but distinct special behaviors for array input, both effectively updating the affected collection to the intersection of provided input with possible values:
* `checkbox` and `radio`:

[2015-04-11 13:40] AurelioDeRosa commented on #620
@arthurvr I'm resurrecting this issue because it was merged in master, thus already published. However, this should be in the jQuery 3.0 branch.

[2015-04-11 13:49] arthurvr commented on #620
@AurelioDeRosa Yes, you said that in a comment on the commit as well. It's worth reverting IMHO.

[2015-04-11 13:52] AurelioDeRosa commented on #620
Oh...really? Sorry about that @arthurvr, I'm getting old :)

[2015-04-13 15:58] arthurvr commented on #696
Fixed in v3 branch.

[2015-04-13 15:58] #696 closed

[2015-04-13 16:46] timmywil commented on #600
Per today's meeting, we're going to keep what we have and address problems on a case by case basis.

[2015-04-13 16:46] #600 closed

[2015-04-14 17:29] jzaefferer commented on #417
@arthurvr interested in taking this over? Or finding someone to write the docs? Sad to see this still open more than a year later...

[2015-04-14 17:32] arthurvr commented on #417
That's true for basically ever ticket open here :( One day I'll get to for sure, but time just limits me.

[2015-04-14 17:38] arthurvr commented on #417
@jzaefferer Although I do definitely agree that many things in this repo are taking way too long. There are still APIs from back in 2012 undocumented, just because we lack the time and the resources.

[2015-04-15 01:43] dmethvin commented on #417
@arthurvr the important thing is that we are making progress, thanks to you! This issue in particular seemed to get lots of people suggesting changes without a clear consensus on what to do. I think that's why it sat around so long, it is tedious to sort through these kinds of tickets and there is always concern you'll upset someone by ignoring their concerns. So go for the low-hanging fruit if it

[2015-04-16 09:18] arthurvr commented on #377
PR gh-716.

[2015-04-16 20:06] jhfrench commented on #558
I'm sorry to be a jerk, but this is still not correct at http://api.jquery.com/checked-selector/. Perhaps your changes did not get pulled back into the official jQuery repository?

[2015-04-16 20:09] arthurvr commented on #558
@jhfrench You're true, the changes never got it into the repo, we needed to close the PR due to inactivity. Would you maybe like to submit a PR?

[2015-04-16 20:18] arthurvr commented on #686
Once the Array-like type lands to the types page I can update this PR. Thanks for the suggestions you all!

[2015-04-16 20:20] jhfrench opened #717 "Specify how to detach `dblclick()` event handler"
The documentation at https://api.jquery.com/dblclick/ describes how to attach the `dblclick()` method.

Unlike other event listener bindings, like [`on()`](https://api.jquery.com/on/#entry-longdesc), [`bind()`](https://api.jquery.com/bind/#entry-longdesc), [`delegate()`](https://api.jquery.com/delegate/#entry-longdesc), and [`live()`](https://api.jquery.com/live/#entry-longdesc) the `dblclick()` d

[2015-04-16 20:26] arthurvr commented on #717
Going to wait for other feedback, but I don't think it's needed. Other shorthand methods, such as `click`, don't mention this as well. I think if that's possible we should avoid unnecessary things and keep the pages as slim as possible (definitely pages for shorthand methods).

That said, the pages states that `.dblclick()` is shorthand for `.on()` and on the `on()` entry it is actually explained.

[2015-04-16 20:55] #708 closed

[2015-04-17 07:33] patrixd opened #718 "$.trim converts to string an array and apply the trim to the string converted"
Hi.

I'm not sure if that behaviour will be change or not in the future. Because the documentation don't tell anything about the convertion to string the input, and the tests does not include any case with an array.

Can I use $.trim with an array and be sure that the result will be allways the trim of the concatenated elements?

Example: http://fiddle.jshell.net/patrixd/xgtgrgkj/2/

Thanks a lot.

[2015-04-17 08:25] arthurvr commented on #718
Passing a method 'invalid' input (docs say it should be a string) will always be undefined behaviour.

No, you can't. For now this is not an officially supported behaviour, and I don't think it should become one. For now you should just consider it as a funny side effect. `trim()` takes a string, not an array, and thus this is undefined behaviour.

Also, please note that it does not exactly concat

[2015-04-17 09:46] patrixd commented on #718
Ok, thanks for your quick answer. My main question is if I can use it with an array.

You are right it is a funny side effect. :laughing:

[2015-04-17 12:07] dmethvin commented on #718
Definitely don't use the API in undocumented ways, because it is likely to break in the future. If you have doubts, it's a good idea to ask like you did here. Better safe than sorry.

[2015-04-17 13:42] jhfrench commented on #558
Ok, will do.

[2015-04-17 13:44] arthurvr commented on #558
Thanks! Be sure to take a look at #616 and #562 before.

[2015-04-17 13:48] jhfrench commented on #717
@arthurvr Understood.

That said, I'm making this suggestion becaues I have encountered some ambiguity about the best way to detach `dblclick()`; I came across this issue while maintaining code which used `unbind()`.

For the same reasons it is useful to link `off()` with `on()`, it it is useful to link `off()` with the `on()` shorthand children like `dblclick()`, `click()`, etc--*particularly for

[2015-04-17 13:50] arthurvr commented on #717
That sentence makes me think it's more likely something we need to clarify on learn.jquery.com. WDYT?

[2015-04-17 13:53] dmethvin commented on #717
Also, I think of the "shorthand" attachment methods as archaic, it's better to use `.on()` and `.off()` for everything so this kind of confusion doesn't happen in the first place. If people agree perhaps we could just add a reusable note to all of them. Since the method name is the event name, we should be able to use some of that funky XML templating magic to put in the note that @jhfrench is ask

[2015-04-17 13:56] arthurvr commented on #717
Yup, that's definitely no problem.

[2015-04-17 14:03] kswedberg commented on #717
+:100: to reusable note, @dmethvin

[2015-04-17 14:50] Krinkle commented on #718
@patrixd If you need that behaviour, use this instead:

[code]

This produces the same result, but makes a string explicitly (using Array#join) before passing the value to jQuery's trim.

[2015-04-17 14:55] arthurvr commented on #718
+1 to what @Krinkle said. I think we all agree this shouldn't be officially supported or am I wrong?

[2015-04-17 15:25] arthurvr commented on #717
There we go: https://github.com/jquery/api.jquery.com/pull/719. Feedback welcome ;)

[2015-04-17 15:38] #686 closed

[2015-04-17 18:38] jhfrench commented on #717
Sweet. Love it. Thanks.

[2015-04-17 19:06] #717 closed

[2015-04-17 19:10] #586 closed

[2015-04-18 12:25] arthurvr commented on #391
I didn't realise before, but we already have an issue about documenting tweens: https://github.com/jquery/api.jquery.com/issues/61.

[2015-04-18 12:25] #391 closed

[2015-04-18 12:30] arthurvr commented on #197
Dave, you got assigned to this, is this something you'd like to take?

[2015-04-18 20:55] eduard-malakhov opened #720 "Incorrect example in api.jquery.com/empty/"
In the following code sample (the one following text "This will result in a DOM structure with the Hello text deleted:") the 2nd line must not be present, since it shows the result of applying $( ".hello" ).empty().

    <div class="container">
      <div class="hello"></div>
      <div class="goodbye">Goodbye</div>
    </div>

The correct example would be

    <div class="container">
      <div c

[2015-04-18 21:03] AurelioDeRosa commented on #720
The example is correct.[ `empty()`](http://api.jquery.com/empty/) only removes the child nodes, not the element itself. If you want to remove the element as well, you should use [`remove()`](http://api.jquery.com/remove/).

[2015-04-18 21:07] eduard-malakhov commented on #720
I see, my mistake. I thought that the two examples are exactly the same. Didn't notice that 'hello' was actually gone.

[2015-04-18 21:07] #720 closed

[2015-04-19 08:07] patrixd commented on #718
Yes @Krinkle I will use something like that. Thanks a lot.

[2015-04-19 12:49] #718 closed

[2015-04-19 13:05] #377 closed

[2015-04-21 12:14] yanxyz opened #722 "The name of file next-adjacent-Selector.xml"
In recent two days I try to parse the docs and encounter two slight "problem":

1. The name of file next-adjacent-Selector.xml, the first letter of the word "Selector" is uppercase, while other slectors file is lowercase. Is this a typo?
2. The file offsetParent.xml doesn't have version in the `category` tag.

[2015-04-22 18:38] arthurvr commented on #722
You're right on that one. PR opened to fix it: #723.

Another PR: https://github.com/jquery/api.jquery.com/pull/724

-

Thanks for reporting this!

[2015-04-28 17:22] ltongues opened #725 "Api for jQuery.post() shows "version added: 3.0""
![screenshot from 2015-04-28 20 21 27](https://cloud.githubusercontent.com/assets/7702679/7375890/4b40b7b8-ede4-11e4-9b45-be77cb0182cc.png)

[2015-04-28 17:25] dmethvin commented on #725
That information is actually correct, that particular signature won't be available until 3.0 ships. However it would be better to put the new signature after the old one, since that is the one most people will be seeking.

[2015-04-28 17:26] arthurvr commented on #725
Yep, agreed, assigning to me :) Hope I'll have some time to do this this evening.

[2015-04-28 17:42] ltongues commented on #725
Ok, thanks.

[2015-04-29 18:21] #197 closed

[2015-04-30 17:49] gibson042 opened #727 "Document jQuery.htmlPrefilter"
Ref jquery/jquery#2203

[2015-05-01 07:18] #722 closed

[2015-05-01 07:18] #725 closed

[2015-05-02 00:54] abedzadeh opened #728 "Dynamic HTML"
applying MSApp.execUnsafeLocalFunction(function () {}); to make innerHTML working in Windows platform makes the mobile app static and I need to close and open the app to see the changes on the database

[2015-05-03 11:04] arthurvr commented on #728
I don't think this is a documentation issue. Can you elaborate?

[2015-05-03 15:04] abedzadeh commented on #728
The problem was with cache!
Thank you

Sent from my iPhone

[2015-05-03 15:14] #728 closed

[2015-05-04 08:43] MartinKosicky opened #729 "Problem calling css in parent (from within a frame)"
Hi well I am trying to do a $(someElement).css("display");  someElement was returned from parent window and was passed to iframe via a function. This call in firefox returns undefined due to the following code in jQuery:

    getStyles = function( elem ) {
        // Support: IE<=11+, Firefox<=30+ (#15098, #14150)
        // IE throws on elements created in popups
        // FF meanwhile throws on

[2015-05-04 12:52] kswedberg commented on #729
@MartinKosicky : You reported this in the API documentation repo. If you think you've identified a bug with jQuery core, please report the issue at https://github.com/jquery/jquery/issues/new
thanks!

[2015-05-04 12:52] #729 closed

[2015-05-04 13:18] timmywil commented on #383
This will be [fixed in 3.0](https://github.com/jquery/jquery/issues/1751). However, we should document that retrieving data with keys containing numbers after dashes may not return the expected result before jQuery 3.0 and that the dash will not be removed in this case in 3.0+, which will reflect the dataset spec.

[2015-05-04 19:07] gibson042 opened #730 "Document .data changes"
jquery/jquery/issues/2257

As of 3.0, data methods camelCase all keys before access. Use of non-camelCase keys requires direct object manipulation (e.g., `var obj = $el.data()`).

[2015-05-04 22:26] timmywil opened #731 "jQuery.unique: rename to jQuery.uniqueSort and deprecate jQuery.unique"
jQuery.unique will be [renamed](https://github.com/jquery/jquery/issues/2228) to make it clear that it sorts as well. This is only a deprecation notice. It will not be removed until 4.0.

[2015-05-05 19:42] timmywil opened #732 "Ajax: preventing xss on untrusted URLs"
Per https://github.com/jquery/jquery/issues/2175, I recommend we add a note on the ajax page about retrieving scripts from an untrusted domain. Automatic JS execution and JSONP type inference can be prevented with options. All that is required is to set the dataType...

[code]

http://jsbin.com/rafima/1/edit?js,console

[2015-05-05 20:06] arthurvr commented on #651
Adding this to the v3 milestone.

[2015-05-06 17:10] timmywil opened #733 "CSS: .show() will no longer override stylesheet css"
When https://github.com/jquery/jquery/pull/2180 lands, it will mean that `.show()` on an element that is hidden elsewhere (i.e. `.hidden { display: none; }`) will no longer override that style and show the element. The element will remain hidden. The new recommended workflow will be to first remove the hidden class.

[2015-05-07 12:34] arschmitz opened #734 "Documentation for :disabled selector incorrect"
The documentation currently says

This does not appear to be true in any browser except maybe IE ( see jquery/jquery#2275  )

http://jsbin.com/padopu/3/edit?html,js,output

[2015-05-08 05:06] arthurvr commented on #731
PR: #736. Would be awesome if you could review, @timmywil.

[2015-05-08 16:41] arthurvr commented on #731
Fixed in the v3 branch so closing this.

[2015-05-08 16:41] #731 closed

[2015-05-08 23:20] gibson042 opened #737 "New :visible and :hidden definitions"
jquery/jquery/issues/2227

As of 3.0, elements will be considered `:visible` if they have any layout boxes, including those of zero width and/or height (e.g., `<br>` elements and inline elements with no content).

[2015-05-09 09:04] arthurvr commented on #709
Would we be okay with explicitly saying something like

on the `jQuery()` entry?

[2015-05-09 09:41] arthurvr commented on #558
@jhfrench Still interested?

[2015-05-09 11:59] gibson042 commented on #709
:+1: I like that a lot, but "manipulations" is overloaded in this context. "Operations" might be better, or explicitly mentioning the modules (is there anything other than traversing and filtering?).

[2015-05-09 20:26] arthurvr commented on #709
@gibson042 I totally agree. PR: https://github.com/jquery/api.jquery.com/pull/738. Mind taking a look and giving your LGTM if you like it?

[2015-05-11 12:01] benjamingr opened #739 "Document $.ready in 2.x and 1.x"
Hey, first of all let me thank you for the move in 3.0 to promises, it will be awesome!

it would be really useful to document $.ready in 2.x and 1.x too, it seems like it's unlikely to change and it's very useful to use.

[2015-05-12 13:42] jhfrench commented on #558
yes--putting it on my list to do today

[2015-05-12 21:54] jhfrench commented on #558
I got a "failed" for the CLA--which I just signed. I've verified that my Git email addresses (j************@*******.com) is the same as I used to sign the CLA...

[2015-05-13 04:50] arthurvr commented on #558
@jhfrench The problem is that your git config does not exactly match your CLA signature. You've got your middle name included in the signature and not in your git config. Resigning the CLA without your middle name should help.

[2015-05-13 14:15] dmethvin commented on #205
The blueprint for exposing the ready promise is set [in this comment](https://github.com/jquery/jquery/issues/1778#issuecomment-72764833) by @gibson042. Basically, we're not documenting it to be a `jQuery.Deferred` but instead a thenable that is generally compatible with other promise mechanisms including `jQuery.when` and the standard `Promise.resolve`. I've updated the title of this issue to ref

[2015-05-13 14:16] dmethvin commented on #739
There was already conversation on this in #205 so I'll close this as a dup.

[2015-05-13 14:17] dmethvin commented on #205
Also note that this approach is back-compatible so we can document it for existing versions and not just 3.0.

[2015-05-13 14:53] #739 closed

[2015-05-13 15:21] benjamingr commented on #739
@dmethvin you guys are odd.

I asked about this from an API perspective (vs docs) and I was told to move it here (to the docs) where it gets closed for being a dupe :P Fair enough I guess, I'll comment there.

[2015-05-13 15:22] dmethvin commented on #739
No, #205 is a docs ticket, I just referenced the comment in the code repo. Sorry for the confusion but you were in the right place this time.

[2015-05-13 15:22] benjamingr commented on #205
Yeah, the point of the other (dupe) issue is that it's back compatible, you're likely not going to break 1.x or 2.x anyway and it'd be beneficial to document it since people are already using it when using promises anyway (passing it to Promise.all is pretty common when you want to wait for the page to load _and_ to make an AJAX request for data).

Thanks for considering. I'd love to use this.

[2015-05-13 15:24] mzgol commented on #739
@benjamingr Sorry, I didn't notice it was a duplicate.

[2015-05-13 15:36] jhfrench commented on #558
Ok--signed the CLA again. How do I now clear that CLA error on my pull request?

While searching for how to clear the CLA tag, saw mention that ["only first signature is used"](https://github.com/jquery/jquery/pull/2243#issuecomment-97900456), so maybe this won't fixed the CLA error.

[2015-05-13 23:40] seductiveapps opened #741 "iPhone 6 : jQuery(window).height() and .width() dont work - fix included.."
https://forum.jquery.com/topic/iphone-6-jquery-window-height-width-dont-work-one-bit-fix-included

Was testing my seductiveapps.com software on iPhone 6 recently and found that my dialog resizing routines worked but not the background resizing which uses jQuery(window).width() and .height()..
Well, it worked, but only after changing orientation on the damn thing once or twice..

This works from th

[2015-05-13 23:45] seductiveapps commented on #741
oh, btw, that fix for iphone6 also works on:
- chrome for windows 8
- chrome for android 4.2 and 4.4 (can't test 5.x) + the regular browser on those android versions.
- chrome on ubuntu
- firefox on windows 7+ and ubuntu-since-2012-at-least
- internet explorer since windows 7 or even vista
- ipad air 2 and ipad 3 (dunno about earlier versions, can't test that)

[2015-05-13 23:51] robertmaxrees commented on #741
This isn't the right place for bugs with the library itself - you want https://github.com/jquery/jquery/issues for that.

It looks like this bug may have already been submitted here:
https://github.com/jquery/jquery/issues/1729

[2015-05-14 00:07] seductiveapps commented on #741
thx Robert. hope i've finally reached the devs' lair ;)

[2015-05-14 05:57] arthurvr commented on #741
What @robertmaxrees said :)

[2015-05-14 05:57] #741 closed

[2015-05-14 05:59] seductiveapps commented on #741
"i see a huuuuge somebody-elses-problem-field here", right? :p

[2015-05-15 19:41] timmywil commented on #709
Could we include comment nodes here? I think they mostly receive the same treatment as text nodes. See https://github.com/jquery/jquery/issues/2309.

[2015-05-18 06:04] markelog opened #742 "Update timeout jsonp warnining"
Talking about this line -

on http://api.jquery.com/jQuery.ajax/. For long-long time all browsers are now affected.

Ref
http://bugs.jquery.com/ticket/8744
https://github.com/jquery/jquery/pull/804
https://github.com/jquery/jquery/pull/667
https://github.com/jquery/jquery/issues/2317

[2015-05-20 15:28] jzaefferer commented on #417
Here's a good explanation of the underlying mess, along with a future-proof solution called `document.scrollingElement`: https://dev.opera.com/articles/fixing-the-scrolltop-bug/

If I read that correctly, we should document how to animate `document.scrollingElement`, along with a recommendation to load [the polyfill](https://github.com/mathiasbynens/document.scrollingElement).

[2015-05-21 02:17] EvanCarroll commented on #296
What about the use case of jQuery without a window? jQuery provides $.ajax which some very large frameworks require (like Backbone.js). If we could do

    Backbone.$ = require('jquery')

And, at least get `Backbone.$.ajax` running we could unit test Backbone.js outside of the browser...

[2015-05-23 18:10] AurelioDeRosa commented on #742
Hi @markelog. Do you know what versions of IE are affected? I'd like to address this issue.

[2015-05-23 19:32] AurelioDeRosa commented on #734
@arschmitz Any suggestion on how to tweak the wording?

[2015-05-24 05:11] gibson042 commented on #734
Target behavior is a [horse-sized mouthful](https://html.spec.whatwg.org/multipage/scripting.html#disabled-elements), but edge cases abound with respect to browser, page structure, and the rest of the selector. All of which should be better in 3.0.

[2015-05-24 20:09] arthurvr commented on #605
I might be wrong but that's not entirely true. Prior to that commit we always passed the index `i`, even when there was only element.

[2015-05-26 17:46] dmethvin commented on #605
True, although I doubt anyone depended on that. :smile:

[2015-05-27 19:42] BramVanroy opened #746 ". selector ought to be removed, but it isn't"
As stated [here](https://github.com/jquery/jquery/issues/2355#issuecomment-106043451): the `.selector` property ought to be removed since 1.9, but it isn't.

[Documentation](https://api.jquery.com/selector/) clearly states that `.selector` has been deprecated since 1.7 and removed since 1.9. However, [this fiddle](http://jsfiddle.net/BramVanroy/vz3xc3se/1/) proves otherwise.

[2015-05-27 19:42] arthurvr commented on #746
Yup. Thanks for reporting that! I'll fix that up.

[2015-05-27 19:44] BramVanroy commented on #746
No problem @arthurvr. I already asked @mzgol but I'll ask you as well: do you have any idea how long before 3.0? Is it a matter of weeks, months, years? In other words, can I still use `.selector` in current projects?

[2015-05-27 19:56] arthurvr commented on #746
`.selector` was deprecated for a good reason so it's better to not use it anyways. Regarding 3.0, better to ask the core team about that :)

[2015-05-28 04:50] #746 closed

[2015-05-28 05:25] arthurvr commented on #605
@dmethvin @markelog WDYT about #745?

[2015-05-28 07:31] sdfsdfsdffdsfs commented on #733
@arthurvr is a fag and he likes his dick: <img src="http://gaypornobserver.com/uploads/2010-12-25-035584/guy-gets-through-forced-gay-sex-2.jpg">

[2015-05-28 07:32] sdfsdfsdffdsfs commented on #746
@arthurvr is a fag and he likes his dick: <img src="http://gaypornobserver.com/uploads/2010-12-25-035584/guy-gets-through-forced-gay-sex-2.jpg">

[2015-05-28 19:08] markelog commented on #742
Sorry for waiting, was ill, as i recall, all of them

[2015-05-29 19:56] arthurvr commented on #605
Closing as this is fixed in the v3 branch.

[2015-05-29 19:56] #605 closed

[2015-05-30 13:41] #709 closed

[2015-06-03 03:43] vikigenius opened #748 "tap event for radio buttons"
the tap events never fire for radio buttons. The click events seem to be working just fine.

    $(document).on("tap", " input[type=radio]", function(e){//do something});

This event doesn't fire at all.

[2015-06-03 04:21] vikigenius commented on #748
Sorry guys seems like you have to include the mobile jquery library even if click is equivalent to tap

[2015-06-03 04:21] #748 closed

[2015-06-03 10:16] benjamingr commented on #205
ping.

[2015-06-03 19:28] arthurvr opened #749 "Run xmllint in CI?"
Would love to have `grunt xmllint` in CI, mainly for PRs. It's easy to break things in this XML setup and given the fact that many team members even don't have a working local setup this is beneficial both for us and for contributors.

Not really specific to this repo, I think we should have it in any repo that uses XML.

cc @scottgonzalez @agcolom @kswedberg

[2015-06-04 20:29] mattkime opened #750 "api docs for .ready() inaccurate"
The api docs for .ready() state that the event is fired when the DOM is ready but before images are loaded. This is not true.

I discovered the problem by using Charles Poxy to slow down image loading _only_ by loading them from a different domain that is throttled.

http://bugs.jquery.com/ticket/12282#comment:15 - has a good discussion of the issues.
https://developer.mozilla.org/en-US/docs/Web/A

[2015-06-04 21:41] dmethvin commented on #750
The images aren't *guaranteed* to be loaded, although they *might* be if they were cached. Is that what you meant?

[2015-06-04 21:45] mattkime commented on #750
I'll take another swing -

.ready() doesn't fire until images are loaded. it is equivalent to $( window ).load()

[2015-06-04 21:46] dmethvin commented on #750
nope, not true at all.

[2015-06-04 21:47] mattkime commented on #750
@dmethvin sorry, what bit are you refuting?

[2015-06-04 21:49] dmethvin commented on #750
.ready() fires when the HTML is loaded. Images may load later.

[2015-06-04 22:04] mattkime commented on #750
I'm going to have to make a screencast of what i'm seeing.

[2015-06-04 22:15] mattkime commented on #750
alright, i think i have a better idea -

if you call .ready() after DOMContentLoaded has fired then you'll need to wait until the window load event has fired - certainly not expected behavior but certainly possible when looking at the code.

https://github.com/jquery/jquery/blob/master/src/core/ready.js#L64

[2015-06-04 22:18] dmethvin commented on #750
Can you post a complete example on a site like jsbin.com explaining what you are seeing?

[2015-06-05 15:49] mattkime commented on #750
https://github.com/jquery/jquery/issues/2100 - thats the problem i'm seeing.

at minimum, the docs should mention this increasingly common case.

[2015-06-05 17:59] #750 closed

[2015-06-05 19:06] markelog opened #752 "Document jQuery.event.special.<event> structure"
Example - https://github.com/jquery/jquery/blob/0019a463bdcb81dc6ba3434505a45774ca27f363/src/event.js#L553-602

[2015-06-05 19:07] dmethvin commented on #752
It's here at the moment: http://learn.jquery.com/events/event-extensions/

[2015-06-05 19:10] dmethvin commented on #752
`preDispatch` and `postDispatch` aren't there, we discussed removing in https://github.com/jquery/jquery/pull/2358

[2015-06-05 19:11] markelog commented on #752
Yes, this ticket specifically about those functions - https://github.com/jquery/jquery/pull/2358#issuecomment-107633332 :-)

[2015-06-05 19:13] dmethvin commented on #752
Ok, then I am not sure if the subject above describes what needs to be done.

[2015-06-05 19:17] markelog commented on #752
Comment and title changed, looks better?

[2015-06-05 19:28] dmethvin commented on #752
Yes! Now I know what you meant. :smiley_cat:

[2015-06-06 21:10] AurelioDeRosa commented on #733
This issue should be put on hold because of the discussion in issue https://github.com/jquery/jquery/issues/2308

[2015-06-09 14:02] hesselink opened #754 "Is passing a selector to 'contents' supported?"
It's currently possible to pass a selector string to `.contents`. Most selectors never matches text nodes, but it does keep them when you use a ':not' selector or things like "*". This is different from `.contents().filter(selector)`, which always removes text nodes regardless of selector.

Is this a public feature? It's not documented.

[2015-06-09 14:13] gibson042 commented on #754
The public API for `.contents` includes only a single signature, and it does not accept an argument because the interaction of text nodes and selectors is undefined (and could even throw exceptions). If you need to filter a collection that might include non-elements, use [`.filter( function )`](http://api.jquery.com/filter/#filter-function).

[2015-06-09 14:13] #754 closed

[2015-06-09 14:14] hesselink commented on #754
Thanks, that's what we ended up doing already, just wanted to check.

[2015-06-10 02:31] davidwagner opened #755 "Docs for get() should specify under what condition it is secure"
The documentation for get() should mention the conditions under which it causes a XSS vulnerability, and describe what developers need to do to avoid introducing XSS when using get().

In particular, `$.get(untrusted_url, function(...) {...})` is unsafe, if `untrusted_url` comes from an untrusted source (e.g., from the attacker, from another user).  There are apparently two problems.  First, if th

[2015-06-10 02:35] davidwagner opened #756 "Docs for getJSON() should specify under what conditions it is secure"
The documentation for getJSON() should mention the conditions under which it causes a XSS vulnerability, and describe what developers need to do to avoid introducing XSS when using getJSON().

In particular, `$.getJSON(untrusted_url, function(...) {...})` is unsafe, if `untrusted_url` comes from an untrusted source (e.g., from the attacker, from another user).  If the attacker controls `evil.com`,

[2015-06-10 02:37] #749 closed

[2015-06-10 11:08] artfy commented on #749
YOU ARE ALL FAGGGOOOTTSS!

[2015-06-12 13:59] clarkwinkelmann opened #757 "Search should prioritize function names"
Since a moment now I cannot use the search function correctly. Most of the keywords I type give me back the full list of functions listed alphabetically.

For example `html`, `on`, `prop`. I expect the first result to be the function with the same name, but instead it looks like it does a full text search of the documentation and return the matches alphabetically. And of course, theses terms are l

[2015-06-12 15:11] scottgonzalez commented on #757
See jquery/jquery-wp-content#359.

[2015-06-12 15:11] #757 closed

[2015-06-14 13:38] AurelioDeRosa commented on #755
I think this issue and #756 can be merged into one. I see this as a global note included in all Ajax methods pages. // cc @arthurvr @agcolom

[2015-06-14 13:39] arthurvr commented on #755
:+1:

[2015-06-14 15:00] AurelioDeRosa commented on #755
Should I update the other issue and close this one then?

[2015-06-14 15:17] arthurvr commented on #756
Thanks for reporting this, @davidwagner.

Let's close https://github.com/jquery/api.jquery.com/issues/755 in favor of this one and just add a note to all Ajax methods.

[2015-06-14 15:17] arthurvr commented on #755
Done.

[2015-06-14 15:18] #755 closed

[2015-06-17 19:47] alex-dow commented on #524
RFC2616 says SHOULD return an entity, not MUST. jquery may not be behaving correctly after all

[2015-06-17 20:09] jhfrench opened #759 "Nitpicking: document that second parameter for `data()` is optional"
The pattern documentd for the [`data()`](https://api.jquery.com/data/) method is `.data( key, value )`. Because the second attribute is optional ( the forth example illustrates this: `$( "body" ).data( "foo" ); // 52`), the pattern *should* be `.data( key, [value] )`.

Alternately, remove that forth example in deference to the [`.data( key )`](https://api.jquery.com/data/#data2) section.

[2015-06-17 20:28] kswedberg commented on #759
The `data()` method has 2 signatures on that page:
https://api.jquery.com/data/#data1 and https://api.jquery.com/data/#data2

The first _stores_ data and returns `jQuery`, so it requires either two arguments or a single plain object argument; the second returns the value of the data, so it requires either no arguments or a single string argument.

We document all of the overloaded getter/setter me

[2015-06-17 20:28] #759 closed

[2015-06-18 19:16] ChadKillingsworth commented on #375
I'm fairly certain this was closed by #753

[2015-06-24 09:15] axos88 commented on #49
+1, it should be documented in the always, done, etc as well.

[2015-06-24 09:19] axos88 opened #763 "deferred.always parameters changing based on success?"
Hello,

I am reading this on the jquery.ajax documentation page:

[code]

This is a documentation error or a bad joke, right?
The parameter order changing based on wether the query succeeds or not?

How is one to determine the actual status code without actually knowing if it was successful or not?

[2015-06-24 14:41] arthurvr commented on #479
Sounds good to me :+1:

[2015-06-24 19:54] Idofuckinghateyou opened #764 "faggggoooottttt"

[2015-06-24 19:54] #764 closed

[2015-06-25 04:16] dcherman commented on #763
I'd recommend treating `always` as a `finally` block, and those blocks never accept arguments in other languages.

To answer your actual question, you could inspect the result of `.state()` on the Promise to see whether or not it was resolved, or you could detect it via the presence of some well-known property on the XHR to see what position in the arguments list it is.

[code]

[2015-06-25 11:31] karan1276 commented on #659
Hey guys,

I am new to this world of open source development, I wanted to get involved with jQuery. I read contribute.jquery.org and also talked to devs at jQuery IRC channel #jquery.

All of them told me to start with documentation first because lots of work needs to be done there and its relatively easier :)

So here I am, can i work on this issue? what say @fenduru @dmethvin @timmywil ?

Thanks

[2015-06-25 11:36] arthurvr commented on #659
That's awesome to hear, @karan1276! We :heart: contributions!

We can use help everywhere but if you're willing to work on documentation that rocks! Thanks!

Nobody is working on this yet, so, yes you can! Don't hesitate to ask us any questions here or in `#jquery-dev` or `#jquery-content` on IRC.

[2015-06-25 13:40] axos88 commented on #763
Well this is an unfortunate API decision.
Are there any plans to fix this in the next breaking version change?

Btw, I ended up doing this:
[code]

[2015-06-25 18:43] clayenga commented on #594
:+1:

[2015-06-25 18:48] hateyouart opened #765 "faggotzz"
[code]

[2015-06-25 18:49] #765 closed

[2015-06-26 14:17] kswedberg commented on #413
@dmethvin : at which version were shortcut event methods deprecated?

[2015-06-26 14:22] kswedberg commented on #212
This is no longer needed.

[2015-06-26 14:22] #212 closed

[2015-06-27 15:30] gnarf opened #766 "Document jQuery.easing for adding easing functions"
I can't seem to find any documentation about how to extend a custom easing function into jQuery.

I was looking for it because https://github.com/jquery/jquery/pull/2376 is going to be changing the parameters passed to the easing methods.

[2015-06-29 17:13] mzgol opened #767 "grunt deploy thinks all the entries got updated"
No matter how many times I invoke `grunt deploy`, I still see what's at the end of this post. This doesn't happen in the jquery.com repisitory where only edited things get deployed.
[code]

[2015-06-29 17:15] arthurvr commented on #767
I noticed this too. Maybe @scottgonzalez has an idea why this is happening? :wink:

[2015-06-29 18:00] scottgonzalez commented on #767
TLDR: All categories are always updated.

-----

WordPress doesn't provide any way for us to track the actual state of anything compared to the raw content we have on the local disk. In order to deal with this, we store a hash of the content for each post as a custom field on the post. This provides us a checksum to compare against on every deploy. In order to reduce the network overhead, gilded-w

[2015-06-29 18:00] #767 closed

[2015-07-01 13:26] dmethvin commented on #413
I'm pretty sure it was 1.9, but can't find the discussion.

[2015-07-01 13:28] dmethvin commented on #413
Oh but it was just `.load()` and `.error()` which are strange and ambiguous.

[2015-07-01 14:24] kswedberg commented on #413
ah, ok. thanks for that info!

[2015-07-01 19:05] dmethvin commented on #763
I understand the confusion but this is pretty much impossible to "fix" via code because the standard `deferred.always()` method is defined to accept the args that `.resolve()` or `.reject()` were passed, there's no special set or ordering of args passed to it. I think the best way to handle this as a consumer of `jQuery.Deferred()` is to follow @dcherman's advice and only use `.always()` to do thi

[2015-07-16 21:04] faggt opened #770 "fag"

[2015-07-16 21:04] faggt opened #771 "big fat gay faggot"

[2015-07-16 21:05] #770 closed

[2015-07-16 21:06] #771 closed

[2015-07-18 12:40] naaaaarrrrttthuuuurrr opened #773 "fag"

[2015-07-18 12:40] naaaaarrrrttthuuuurrr opened #774 "big faggot"

[2015-07-18 12:40] naaaaarrrrttthuuuurrr opened #775 "nigga"

[2015-07-18 12:40] naaaaarrrrttthuuuurrr opened #776 "fap fap fap faggot"

[2015-07-18 12:41] naaaaarrrrttthuuuurrr opened #777 "you faaaaaaaaaagggggggggggssssss"

[2015-07-18 12:52] #777 closed

[2015-07-18 12:53] #773 closed

[2015-07-18 12:54] #775 closed

[2015-07-18 12:54] #774 closed

[2015-07-18 13:00] #776 closed

[2015-07-18 16:16] jjjjjjjjjjjjq opened #778 "dickheads"

[2015-07-18 16:16] #778 closed

[2015-07-19 23:42] #712 closed

[2015-07-20 00:29] #730 closed

[2015-07-20 00:31] AurelioDeRosa commented on #730
Closed with commit 270b51818cf5e07f70b1d0cd1689f83518579663.

[2015-07-21 09:42] arthurinthearse opened #780 "faggot"
![](https://search.disconnect.me/image?l=aHR0cHM6Ly9lbmNyeXB0ZWQtdGJuMy5nc3RhdGljLmNvbS9pbWFnZXM/cT10Ym46QU5kOUdjU2JvNlB5WFVzYVc1ODkwbXlEQ1hacE5yNEF3TEVWMkJKQWdWSEVBZUtDdldoRkxJcWg=)

![](https://search.disconnect.me/image?l=aHR0cHM6Ly9lbmNyeXB0ZWQtdGJuMi5nc3RhdGljLmNvbS9pbWFnZXM/cT10Ym46QU5kOUdjU1dBNExBVUp2REpXRVJEUk4wbGo2X3Fhc0pZZ3lQcmRTNXpZQ0FSbm11UTVjNmR2c1RRZw==)

![](https://search.disconnec

[2015-07-21 16:48] rosenfeld opened #781 "Missing documentation for .toggleClass( [state] )"
The documentation here is insufficient:

http://api.jquery.com/toggleclass/#toggleClass-state

Also, the current behavior does not seem consistent from what one might expect by looking at the other signatures:

https://jsfiddle.net/jdoedx2v/4/

It seems the behavior of toggleClass() and toggleClass(true) are the same. I'd expect toggleClass(true) to always restore the original classes from the fir

[2015-07-22 14:50] arthurvr commented on #781
Thank you for bringing this up, @rosenfeld. I agree that the current description is really bad.

Ref https://github.com/jquery/jquery/issues/2491 - let's hope we'll just be able to add a deprecation note :)

[2015-07-24 16:24] rosenfeld commented on #781
Great, I'm +1 for removing that signature. I don't think anyone is using that... Sorry for the delay but my daughter was born a few hours after I created this ticket :)

[2015-07-24 16:25] arthurvr commented on #781
Awesome! Congrats! :tada:

[2015-07-24 16:26] rosenfeld commented on #781
Thanks :)

[2015-07-27 11:19] trollingaround opened #785 "i hate u @arthurvr"

[2015-07-27 11:21] trollingaround opened #786 "arthur i hate u"

[2015-07-27 11:22] trollingaround opened #787 "arthur everybody hates you"

[2015-07-27 11:22] trollingaround opened #788 "just delete your account"

[2015-07-27 11:23] #786 closed

[2015-07-27 11:24] AurelioDeRosa commented on #788
What a waste of our time

[2015-07-27 11:24] #788 closed

[2015-07-27 11:24] #785 closed

[2015-07-27 11:25] #787 closed

[2015-07-27 20:57] AurelioDeRosa commented on #737
Fixed in branch v3 with commit d0e7282d4c0e9c02263ebcb15ecd419a25113941.

[2015-07-27 20:57] #737 closed

[2015-07-27 21:02] #763 closed

[2015-07-28 15:50] we-hates-yo opened #790 "YOU R A FAG"

[2015-07-28 15:51] we-hates-yo opened #791 "YOU R A FAG"

[2015-07-28 15:51] #790 closed

[2015-07-28 15:51] we-hates-yo opened #792 "YOU R A FAG"

[2015-08-03 13:10] shanahde opened #793 "aaarthurvrrr fag fap fag fap fap fap"

[2015-08-03 13:10] #793 closed

[2015-08-05 08:58] wucxzx opened #795 "ajax response cannot been parsed correctly in iOS chrome browser"
I am developing a web application which use ajax request to retrieve data from server side application. The function working fine in all desktop browsers and most mobile browser except iPhone chrome.

The ajax request was sent correctly but the data returned from server was empty in ajax success callback function.

[2015-08-05 09:24] AurelioDeRosa commented on #795
This is not a documentation issue, but a code one. Please, report it to the [jQuery repository](https://github.com/jquery/jquery). I'm closing this issue.

[2015-08-05 09:24] #795 closed

[2015-08-10 19:00] benjamingr opened #796 "`One` docs misleading"
The example for `.one` somewhat implies that `one` disables other event listeners added for the same event which is not the case.

Clarifying it could be nice.

[2015-08-16 18:19] AurelioDeRosa commented on #796
Hi @benjamingr. Can you clarify which example you are referring to and what kind of additional explanation you'd like us to add?

[2015-08-16 18:28] benjamingr commented on #796
I have a friend who started learning jQuery. He understood `one` as "it executes the event and removes all other event handlers for the event" rather than "it executes the event handler and removes it from the event" (which is what I told him it does and he refused to believe until I showed him in code).

I think the docs could be a little clearer on what it does :)

[2015-08-16 22:43] AurelioDeRosa opened #798 "Move sentence about Global Ajax events as a global note"
In all the methods related to [jQuery global Ajax events](http://api.jquery.com/category/ajax/global-ajax-event-handlers/), there's a note like:

I think we can move this as a global note (inside the file `notes.xsl`) so that it'll become easier to manage and to update.

[2015-08-16 22:45] AurelioDeRosa commented on #796
@benjamingr are you interested in submitting a PR for this issue? We love contributions.

[2015-08-19 12:26] blelem opened #799 "Documentation: Behavior of :nth-of-type when combined with another selector"
It seems to be a rather common pitfall to use :nth-of-type and :nth-child together with a class selector.

    tr.row:nth-child(odd)

I see it would be useful that the documentation of :nth-of-type and :nth-child would explicitly warn that this construct won't probably do what a developer not that familiar with selectors would expect.

[code]

This is mainly cut&pasted from : http://stackoverflow.

[2015-08-19 16:27] gnarf commented on #799
It's probably worth adding a note about this.  https://developer.mozilla.org/en-US/docs/Web/CSS/%3Anth-child doesn't have a note about it either - might be worth adding one.

Also note that the examples on https://developer.mozilla.org/en-US/docs/Web/CSS/:nth-of-type are worse at describing `:nth-of-type` than the `:nth-child` page is :)

[2015-08-20 05:30] blelem commented on #799
While we're at it, the selectors introduced in jQuery 1.9 nth-last-child() and nth-last-of-type() should also be covered.

[2015-08-20 22:32] #479 closed

[2015-08-24 18:54] benjamingr commented on #796
I've talked to the friend and he agreed to work on a PR. I'll ask him to comment here about what caused the confusion and walk him through the process (I've been somewhat involved in jQuery before, but not the docs yet :)).

[2015-09-01 02:06] DavidAustin commented on #405
originalEvent needs to be properly documented.  The line "Certain events may have properties specific to them" is weak and doesn't lead the reader to conclude that originalEvent is useful.

Certainly examples should be given.

[2015-09-01 02:10] dmethvin commented on #405
Since this is tagged as help wanted, we'd be glad to consider a pull request. Everyone here is a volunteer.

[2015-09-09 16:02] dmethvin opened #803 "Clarify `always` callback for animations"
The docs are unclear that `always` is also a per-element callback, like `complete`.

https://github.com/jquery/jquery/issues/2585#issuecomment-138949538

[2015-09-20 23:23] AurelioDeRosa commented on #803
The PR looks good to me and can be merged.

I agree that we should create a global note that is included in all the files affected. I suggest to merge this PR and then open a new issue that takes into account the general problem.

[2015-09-21 00:43] AurelioDeRosa opened #806 "Documentation about contextmenu() is missing"
The website doesn't have a documentation page for the `contextmenu()` alias which is supported since the early days of jQuery.

[2015-09-21 16:05] timmywil commented on #781
The core team is in favor of removing this signature.

[2015-09-21 22:24] #803 closed

[2015-09-23 21:43] AurelioDeRosa commented on #781
What's the action on this one? Should we just add a deprecation note for jQuery 3 or the doc should be improved anyway?

[2015-09-23 21:53] dmethvin commented on #781
Well TBH I agree with @rosenfeld that the current behavior is completely non-intuitive, and we didn't exactly say what it did in the first place. So can we just drop the signature from the docs?

[2015-09-24 16:34] arthurvr commented on #781
:+1: SGTM. If anyone likes that I'll take care of it.

[2015-09-24 20:13] AurelioDeRosa commented on #781
I'm always for documenting methods, even if they were underused.

[2015-09-24 22:23] dmethvin commented on #781
When you look at what the current methods do with Boolean tho, it's hard to imagine anyone found them useful or correct.

[2015-09-30 07:55] gallab opened #812 "jquery.grep"
There are two examples at the bottom of : http://api.jquery.com/jquery.grep/
One which is *"Filter an array of numbers to include only numbers bigger then zero."* and the other is :
*"Filter an array of numbers to include numbers that are not bigger than zero."*
Code snippets  given are similar, but they shouldn't. It needs to be corrected.

[2015-09-30 07:58] #812 closed

[2015-10-02 16:25] Flimm commented on #49
+1

[2015-10-06 20:44] AurelioDeRosa commented on #296
@timmywil A long time is passed since this issue was opened. What's the current status of jQuery in that regard?

[2015-10-06 20:46] AurelioDeRosa commented on #227
I think this issue can be closed as wontfix. Currently, none of the current API websites include such features. Any thoughts?

[2015-10-07 22:28] #413 closed

[2015-10-08 12:06] AurelioDeRosa opened #814 "Document change in addClass/removeClass for jQuery 3"
jQuery 3 [changes the behavior of addClass/removeClass](https://github.com/jquery/jquery/issues/2199) for better SVG support. Thanks you @gibson042 for [the feedback](https://github.com/jquery/api.jquery.com/pull/813#discussion_r41413528).

[2015-10-08 14:58] dmethvin commented on #814
Something like this paragraph might work:

In HTML documents *only*, browsers keep the `class` attribute (e.g. `$(elem).attr("class")` or `elem.getAttribute("class")` and the `className` property (e.g. $(elem).prop("className") or `elem.className`) in sync; when you change one of them the browser updates the other. Prior to jQuery 3.0, jQuery used the `className` property in `addClass` and `remove

[2015-10-12 17:46] flavouski opened #815 "Feature Request: ajaxError interceptor rather than on document"
I call the .ajaxError() command on the document object, but it doesn't do enough for our situation.

```$(document).ajaxError(function(event, jqxhr, settings, thrownError) {}```

It isn't intercepting the ajax request, it is waiting for it to bubble-up to the document, which I can see a case for both.  But currently there is no way to intercept it (unless making your own ajax method which calls JQ

[2015-10-12 18:45] AurelioDeRosa commented on #815
Hi.

The `ajaxError()` method should only be attached to `document` since version 1.8. If you want to do something before an Ajax request is sent, you might want to use [`.ajaxPrefilter()`](http://api.jquery.com/jQuery.ajaxPrefilter/).

[2015-10-12 18:58] flavouski commented on #815
Ohhh, I didn't see it listed in http://api.jquery.com/category/ajax/global-ajax-event-handlers/ and just assumed that there wasn't any other options...
Thanks!

[2015-10-12 18:58] #815 closed

[2015-10-12 19:51] flavouski commented on #815
Just wanted to add here is the code that worked for me is below.  It still uses the errors added to via original promises to ajax requests.

[code]

[2015-10-16 17:03] timmywil commented on #733
We'll be reverting to the previous behavior.

[2015-10-16 17:03] #733 closed

[2015-10-16 17:07] timmywil opened #816 ".show()/.hide(): these methods may have performance issues"
We've resigned ourselves to reverting the current behavior, which means that we won't be able to get around the performance issues. Specifically, we have to retrieve computed display values, which is especially slow in webkit and blink.

Something like...

[2015-10-16 20:47] timmywil commented on #816
Also add a note saying that show/hide can cause problems with responsive layouts, if the display value differs at different viewport sizes.

[2015-10-17 14:42] dmethvin commented on #422
We just looked at this, and the situations where we normalize values are to fix obscure browser bugs. We're hesitant to document that because it will inevitably get out of date (either way) over time. On master at the moment, the only attrHook we have is to fix IE9-11 for the case where you change the `type` on an `<input>` and it incorrectly clears the `value` property.

For a complete list of no

[2015-10-17 14:42] #422 closed

[2015-10-18 19:55] timmywil opened #817 "isNumeric(): currently inadequate/inaccurate"
Ref https://github.com/jquery/jquery/issues/2662

`isNumeric()` does not only determine whether a given argument is a number. It also checks to see if string input can be coerced into finite numbers. Anything that is not a number or string will return false.

[2015-10-19 19:14] #806 closed

[2015-10-20 18:36] dmethvin opened #821 "Note that `event.which` is deprecated and itself uses deprecated properties"
See https://github.com/jquery/jquery/issues/2667

[2015-10-26 16:17] timmywil commented on #727
In this new page, let's include an example that addresses [this issue](https://github.com/jquery/jquery/issues/2668), in regards to leaving html within string contents alone.

[2015-10-26 16:18] timmywil commented on #727
Also, see the original PR that we rejected because the edge case wasn't worth the size: https://github.com/jquery/jquery/pull/1374.

[2015-10-29 16:35] lpetrov opened #822 ""not well formatted" in Firefox"
Trying the example from: https://api.jquery.com/jQuery.parseXML/
Shows a warning in Firefox, saying "not well formatted".

Here is a demo of the same example from the docs:
http://jsfiddle.net/56g28hrs/

Its really weird, because the code is actually working properly, except the warning in Firefox (latest - 41.0.2 on Mac/OSX).
When the XML is parsed everything is just fine, except when the '$xml.f

[2015-10-29 17:01] agcolom commented on #822
@lpetrov I am trying to reproduce but I am not getting the warning. Also on FF 41.0.2. but with  OS X 10.7.5. (could that be the difference?)

[2015-10-29 20:24] lpetrov commented on #822
I'm running OSX 10.10.5. But I don't see how this can be OS related.
Are you sure that the warnings are shown in the dev console?

<img width="1153" alt="screen shot 2015-10-29 at 10 23 02 pm" src="https://cloud.githubusercontent.com/assets/139877/10831017/addb5b98-7e8b-11e5-9963-6fa7705de515.png">

Thanks,
L

[2015-10-29 20:41] agcolom commented on #822
@lpetrov Ah yes, thanks for the screenshot. I can reproduce with your jsfiddle and logging warnings.

[2015-10-29 21:17] agcolom commented on #822
I'm wondering whether this is a duplicate of https://github.com/jquery/jquery/issues/2196
cc:@gibson042

[2015-10-30 00:41] gibson042 commented on #822
Confirmed. This is fixed in the 3.0.0 alpha: http://jsfiddle.net/56g28hrs/1/

[2015-10-30 00:41] #822 closed

[2015-10-30 09:50] lpetrov commented on #822
I can confirm that this is fixed in 3.0.

Thanks!

[2015-11-03 15:34] IanKemp opened #825 "toggle event is deprecated, but no replacement provided"
https://api.jquery.com/toggle-event/

The documentation mentions that the `toggle` **method** has been deprecated in 1.8 and removed in 1.9, but doesn't explicitly mention if the **event** itself is still supported (via `.on("toggle")`) - it appears not to be.

If the event is no longer supported, it would be useful to add a message explaining this, and potentially an example for how to emulate th

[2015-11-03 15:37] IanKemp opened #826 "toggle() method's name violates Principle of Least Astonishment"
https://api.jquery.com/toggle/

The `toggle()` method's name does not sufficiently explain its purpose. *What* does it toggle - display, visibility, element state, ...?

This method should be renamed to something more intuitive. I am aware that naming things is one of the unsolved problems of programming, but perhaps some variation of `toggleDisplay()` would be suitable.

[2015-11-03 15:49] dmethvin commented on #825
From the docs:

There is no standards-defined `toggle` event, although someone could certainly define one. This documentation doesn't mention one at all and explicitly says it deals with the `click` event. Other than being the same word "toggle" there isn't a connection.

[2015-11-03 15:51] dmethvin commented on #826
The docs *do* explain it though, that's what the docs are for?

Since the method has been around for a decade now, renaming it will just cause more confusion. We specifically deprecated the lesser-used toggle-event method to make it clear that this API does one thing.

[2015-11-03 15:52] timmywil commented on #826
Agreed. It's also easy to add your own aliases:

[code]

[2015-11-03 15:52] #826 closed

[2015-11-03 16:52] #825 closed

[2015-11-04 23:50] timmywil opened #828 "Attr: selectMultipleWithNoValue.val() now returns [] instead of null"
From https://github.com/jquery/jquery/issues/2562

We have this line...

which could say something like this instead...

Also, one of the examples will need editing.

Where we have...

[code]
we can shorten it to...
[code]

[2015-11-05 00:12] dmethvin commented on #828
Although you'd need to keep the old code if you're using an older version of jQuery, so we'll probably need a version note here?

[2015-11-05 00:16] timmywil commented on #828
True. I'm not sure how to incorporate the version differences in a concise manner. Maybe we need @kswedberg's English powers.

[2015-11-05 11:04] lanort commented on #594
+1

[2015-11-05 13:07] dmethvin commented on #594
This ticket seems to be a magnet for people providing guidance-free support for .... something. Can one of you offer a pull request or post here a specific set of changes you'd like to see?

[2015-11-05 20:26] peterrow commented on #594
From the original opening post "The docs for done(), always() etc.. should describe the params for the function."

[2015-11-05 20:29] dmethvin commented on #594
Great, then from my reply to the opening post, if you have ideas then please do file a pull request. There are 45 people watching this repo, including me, and it is nicer to them if a notification includes more than a thumbs-up or plus-one.

[2015-11-05 20:48] peterrow commented on #594
Both myself and kswedberg have indicated what is missing from the documentation. It's hard to write the docs when you don't know what the values are.

[2015-11-05 20:58] dmethvin commented on #594
I'm still not sure what you're asking for. The current docs say

Those are the same arguments in the same order as the `success` callback described earlier in the page. Ditto for `.fail()`. If you think they need to reference that just file a PR to do so.

[2015-11-05 21:06] kswedberg commented on #594
@dmethvin, The problem is that someone using `.done()` off of a `$.ajax()` call could reasonably only look at the docs for `.done()` (https://api.jquery.com/deferred.done/). Pretty sure the OP is saying that the done/fail/always docs should mention the callback's params when chained off a jqXHR.

[2015-11-05 21:13] marcandre commented on #594
As far as I'm concerned, the current doc is fine now (as @dmethvin points out). It wasn't at the time it was opened. I believe this issue is now resolved. :smile:

[2015-11-05 21:22] peterrow commented on #594
@marcandre - where on this page does it mention what the parameters are for the callback functions you pass to done()?  https://api.jquery.com/deferred.done/

Answer: It doesn't

[2015-11-05 21:42] dmethvin commented on #594
The parameters that are passed to a `deferred.done()` depend on the parameters passed to `deferred.resolve()`, and can be anything the caller wants them to be. If the problem is that people are arriving at the `deferred.done()` docs and expecting a description of the `$.ajax()` arguments, then we should put something in https://api.jquery.com/deferred.done/ to the effect of "For information on usi

[2015-11-06 00:42] kswedberg commented on #594
@dmethvin : Agreed. that seems like the most sensible course of action here.

[2015-11-10 18:47] mzgol opened #829 "The click entry contains an image instead of an example"
The [click entry](http://api.jquery.com/click/) contains an image instead of the first example which makes the example broken.

[2015-11-10 22:06] arthurvr commented on #829
Sure, let's make the example actually usable. Nice catch. :+1:

[2015-11-11 13:55] agcolom commented on #829
This is the case for all the examples on api.jquery.com (see http://api.jquery.com/dblclick/, http://api.jquery.com/fadeIn/, http://api.jquery.com/fadeOut/, etc). On this repo, only the generated examples (after the Example: heading) are working examples. I agree that it would be nice to have these examples "working", as the images can lead to confusion for the user. We need to decide which strate

[2015-11-11 14:32] kswedberg commented on #829
For historical background, the entries have "code + image" within the description because they were originally taken from my book, which, being made of paper and not subject to the magic of Hogwarts, couldn't display dynamic examples.

One thing to consider is that the api documentation has been consumed by a lot of other apps and documentation sites. What would be the effect on third-party use of

[2015-11-11 15:05] agcolom commented on #829
I'd like to keep the code and images and add the corresponding working example.

[2015-11-11 15:13] mzgol commented on #829
When I was trying to get jQuery upgraded on the API sites I was clicking over the various pages and it was very surprising to me that clicking on the box didn't work. I thought the update just broke it so I checked the original and thought it's broken as well. Only after inspecting the source I realized it's an image.

A book is different in that no one expects it to be interactive, it's natural f

[2015-11-11 16:05] kswedberg commented on #829
@mzgol : I absolutely agree that people's expectations are different depending on the medium. I was only providing historical background for why the images are in there in the first place. Still not sure, though, what kind of effect it would have on third-party documentation.

Also, seems like a pretty big task to update all of them to working examples, but if someone is up to the challenge, go fo

[2015-11-11 16:13] mzgol commented on #829
Yeah, I described the ideal which might not be achievable soon. :-)

I like it! The examples would still not work but it'd be obvious they're just images so I (& perhaps others) wouldn't be so confused about why clicking does nothing.

[2015-11-13 16:38] timmywil opened #830 "Document jQuery.speed"
https://github.com/jquery/jquery/pull/2713 Brought up the issue that `jQuery.speed` is exposed and undocumented. Since jQuery UI uses it, we've decided to document it.

[2015-11-13 16:46] markelog opened #831 "Second argument of globalEval method"
In 3.0, `globalEval` will have a second argument, see - https://github.com/jquery/jquery/commit/22449eb968622c2e14d6c8d8de2cf1e1ba4adccd

I'm not sure if should document it or not.

I wouldn't... and declared is as "internal", i think migrate might want consider adding a check for it too.

I wouldn't since it was removed from the real `window.eval` and was never standartized, and since this functi

[2015-11-13 17:19] mzgol commented on #831
I've filed multiple issues & commited many changes that removed exposure of internal parameters from various methods and I wouldn't want us to go in the opposite direction. If we want this parameter as internal we should declare a `globalEval` function in a closure and expose only a function that accepts one parameter, similarly what I did in 04a29696e5b176ac66401120e433d52425222f0f. Otherwise, it

[2015-11-13 17:21] timmywil commented on #831
I'm fine with documenting it. It could be useful to pass the context, and required in some cases. `globalEval` is different than `eval` in that we are changing the context in which the code is executed. The ability to pass the desired context makes sense to me.

[2015-11-13 17:21] mzgol commented on #831
If we wanted this parameter to not just be internal, we should have proper tests for `jQuery.globalEval( code, context )` which we currently lack.

[2015-11-13 17:22] mzgol commented on #831
@timmywil

:+1: But we need to write tests for it.

[2015-11-13 17:27] markelog commented on #831
Well, @mzgol, you called "LGTM" on this change - https://github.com/jquery/jquery/pull/2696

I really think we should be more careful, not sporadic, changing signatures like that. That `context` argument, i think this would need to be outlined next time.

I'm big -1 on this, method called `jQuery.globalEval`, the name says in what context it should be executed. Also, JS version of `eval` **now** h

[2015-11-13 17:29] mzgol commented on #831
Everyone makes mistakes. :-)

I'm +0 about making it official. I can see it may be useful, I also understand @markelog's concerns. I just want us to do one of the following two things - either document & test it or to remove the second parameter and move it to an internal function. Exposing it & not documenting is a bad idea IMO.

[2015-11-13 17:31] timmywil commented on #831
@markelog `globalEval` is not the same as native `eval`. There's no spec to align with here. Even with providing a context, that context must be a document, which means its name is still accurate. It's still executing globally, but globally in the right window (like in an iframe).

[2015-11-13 17:42] markelog commented on #831
@mzgol

Agreed on that one, private module which could called from `globalEval` and `manipulation` module.

`globalEval` is the same as calling native indirectly. You are right though in the sense that this is not a "shim" and it as our API. But just like we trying to be close to the DOM spec with `events` logic. I think we should apply same efforts here too.

Yeah, that what i call "confusing". I

[2015-11-13 17:50] timmywil commented on #831
Well, that's a fair point. We need it to fix a bug in manipulation, but you're right that we didn't get a request to deal with this in `globalEval` directly. If we privatize it, we may as well put `globalEval` in its own file and remove the argument from the exposed parameter list.

[2015-11-13 17:51] mzgol commented on #831
@markelog

We have an API with similar behavior ATM: http://api.jquery.com/jQuery/#jQuery2.

[2015-11-13 18:12] markelog commented on #831
Yeah, that is my suggestion.

I see the resemblance, but i wouldn't call it "similar".

[2015-11-13 21:39] dmethvin commented on #831
I'd say let's just document the arg. It's not something most people will need to know about and it's subject to restrictions, but it seems like a lot of work to try and hide the arg. Taking the whole method private might cause some pain, it was [described in some detail](http://perfectionkills.com/global-eval-what-are-the-options/) by kangax a few years back so people know about it that way, even

[2015-11-13 21:52] markelog commented on #831
It could be harder to support and maintain documentation, tests and logic for such controversal argument that is probably needless and we could put ourself in tough predicament if we would need to switch implementation to indirect/something-different.

Not sure if i see the issue with hiding it, we did so many times and didn't had any problems with such approach, like `on` - https://github.com/jqu

[2015-11-13 22:24] timmywil commented on #831
Just to be clear, I wasn't suggesting we make `globalEval` private, just the argument.

The main question is whether or not the argument is useful to users. If we think it is, we may as well document it. If not, make it private. We can handle maintenance questions after that question is answered.

[2015-11-13 22:33] markelog commented on #831
Anyways, this is how i see it - https://github.com/jquery/jquery/pull/2718. I wouldn't envy the person, who would need to answer questions like and then tediously document incorrect input -

[code]

Or try this thing to work

[2015-11-15 20:44] Chealer opened #832 "Types page does not explain how named functions can be passed"
According to http://api.jquery.com/Types/ "this page documents virtual types like Selectors, enhanced pseudo-types like Events and all and everything you wanted to know about Functions. "

http://api.jquery.com/Types/#Function mentions that "A function in JavaScript can be either named or anonymous." and provides examples of declarations:
`function named() {}`
`var handler = function() {}`

There

[2015-11-16 01:37] mzgol commented on #832
IMO these examples are confusing as the fact that the first function is named and the second anonymous is not the only difference; the first one is a function declaration and the second creating a new variable to which a function expression is assigned. It'd be better to have:
[code]

Using named functions is not so much supported by jQuery as by JavaScript itself; named functions work mostly the

[2015-11-16 12:35] xDaizu commented on #49
+1

[2015-11-16 15:09] dmethvin commented on #832
I think this is more about our syntax for documenting functions that are passed as arguments to API calls, and not about JavaScript notions of named or unnamed functions?

@Chealer you mentioned the `.change()` API, here's one of those signatures:

So your question is about the "Function( Event eventObject )" part? It just means the `handler` argument is a JavaScript function (of some kind) that r

[2015-11-17 12:31] Chealer commented on #832
mzgol, do not expect guidance from me, I am inexperienced with JavaScript.

It is perhaps a good idea to add the form `var namedHandler = function named() {};`. But I am less sure it is a good idea to remove the form `function named() {}`. I am fine with whatever is decided, as long as the page explains how to pass the function defined by each declaration.

dmethvin, I mentioned the problem you ar

[2015-11-17 13:55] dmethvin commented on #832
Not sure that I understand...named functions are just passed by their names. Wherever they are declared they may (or may not) declare the arguments that are passed when the function is called. Since this is the jQuery API docs there's only so much we should be doing to explain basic JavaScript concepts. Or maybe I'm not seeing what is required here. Can you propose the actual text that we could us

[2015-11-18 02:41] Chealer commented on #832
dmethvin, I looked at the page because I really did not know how to pass named functions, and I still do not know in depth. But before consulting the page, I tried passing by name (since that is how it works in PHP), and unless I misremember, that did not work (if I passed the string "foo", I would get an error). I ended up passing the function itself.

I won't write a text I am unsure about, but

[2015-11-19 09:21] drummike opened #835 "noConflict - second example need call moved"
In the second code snippet shown on the noConflict page there are these lines:
<snip>
$.noConflict();
jQuery( document ).ready(function( $ ) {
  // Code that uses jQuery's $ can follow here.
});
// Code that uses other library's $ can follow here.
</snip>
The noConflict call should be moved down, so it happens after the line with ready(function($)
Otherwise $ is undefined, or defined as belonging

[2015-11-19 09:35] mzgol commented on #835
No, this example is correct. `$.noConflict()` restores the previous global value of `$` but not `jQuery`. The .ready function gets a parameter that's assigned to the jQuery instance so `$` inside of the ready callback is equal to the first jQuery. This is a function parameter and not the global `$`.

[2015-11-19 09:35] #835 closed

[2015-11-19 16:39] drummike commented on #835
Are you certain? The reason I ask is that I tried that code and it gave me an error.

<!DOCTYPE html>
<html lang="en">
<body>
<script src="../js/jquery.js"></script>
<script>
$.noConflict();
jQuery( document ).ready(function( $ ) {
  // Code that uses jQuery's $ can follow here.
  $.alert("that dog don't hunt");  // line 9 - for reference
});
// Code that uses other library's $ can follow here.

<

[2015-11-19 17:26] scottgonzalez commented on #835
Well, `$.alert` is not a function that *should* exist given that code, since there is no such method in jQuery.

[2015-11-19 17:48] drummike commented on #835
Duh! Oh well, a PBCAK.

Cheers.

[2015-11-24 09:33] Bjego opened #837 "Default selector (#) doesn't work on dynamic generated elements in jquery 2.1.3+"
moved

[2015-11-24 09:42] Bjego commented on #837
Sorry this was the wrong place for this issue

[2015-11-24 10:44] #837 closed

[2015-11-24 21:01] mcdurdin opened #838 "Minor tweak: note that :hidden is identical to not(:visible) and vice-versa"
Given the documentation for the two selectors https://api.jquery.com/hidden-selector/ and https://api.jquery.com/visible-selector/ have different nuances, it would be helpful to note that the implementation of :hidden simply returns not(:visible):

    jQuery.expr.filters.hidden = function( elem ) {
    	return !jQuery.expr.filters.visible( elem );
    };

Better yet would be to make the notes fro

[2015-11-25 05:04] bperucchi commented on #49
1+

[2015-11-25 17:17] scottgonzalez opened #840 "Document jQuery.fx.step"

[2015-11-25 19:58] scottgonzalez commented on #840
I'm actually not sure what would be a good example to put in here that wouldn't require a lot of code.

[2015-11-28 23:32] jugglinmike commented on #523
The discussion around the behavior of `attr` with `undefined`, while important, is unrelated to the intent of this issue. I think it should be safe to document "`null` unsets the attribute" even without consensus on `undefined`; is that right?

[2015-11-30 03:46] Krinkle commented on #523
@jugglinmike Yep. My main request here is to document (and thereby acknowledge) that `null` is supported.

Right now, passing `null` can appear fragile. Peers sometimes point it out when I this idiom in code – sometimes expressing a (very understandable) preference for messy ternaries that switch between `attr()` and `removeAttr()` based on null. I don't want my code to be responsible for this swi

[2015-11-30 04:00] Krinkle commented on #288
Seems to be still there. <http://api.jquery.com/attr/> states:

Thus suggesting that in the latest stable version, the returned attr value does change with the live state. Aside from whether that's desirable, the current demo does not match this statement. The demo (using jQuery 1.10.2 as of writing) shows a constant value of "checked" regardless of the checkbox's state.

I can reproduce the same

[2015-12-02 14:26] #831 closed

[2015-12-02 14:26] markelog commented on #831
On the meeting, it was decided to not expose the second argument

[2015-12-05 17:58] dmethvin opened #843 "Update references to jQuery 1.4 release"
The jQuery 1.4 release was a bit strange because the info was posted at jquery14.com rather than on the blog. We took that domain down a while back.

Content can be found here:
https://web.archive.org/web/20120207190412/http://jquery14.com/day-01/jquery-14
https://web.archive.org/web/20120302231013/http://jquery14.com/day-12/jquery-141-released
- [ ] Update blog post at blog.jquery.com with the in

[2015-12-14 01:00] #312 closed

[2015-12-14 01:09] AurelioDeRosa commented on #817
Closed via 4e65b6dfa6c6f2d486572c30dbf5c436b1524030

[2015-12-14 01:09] #817 closed

[2015-12-14 01:21] AurelioDeRosa commented on #838
I'm not sure the API page should document how we actually implement a method internally. This might change in the feature without affecting what the outcome is and how a user would call the API. Any thoughts?

[2015-12-14 01:41] AurelioDeRosa commented on #830
I think I need a bit of guidance here. From the source I get the followings:

- This method works with animations (specifically with `animate()`)
- It accepts three arguments, all of which are optional
- The method returns an object literal containing a set of properties whose value are the combination of the provided arguments and some defaults (e.g. `400` for speed)

Now, what's the use case for

[2015-12-14 02:03] scottgonzalez commented on #830
Everything you've gathered so far is correct. The use case is plugin developers who are creating new animation methods. For example, the animated form of `.addClass()` that exists in jQuery UI. Letting `$.speed()` do all the parameter hockey and normalization for you, rather than duplicating the logic yourself, makes these implementations much saner.

[2015-12-14 02:04] scottgonzalez commented on #830
I'm not sure if there's a reasonably sized example that can be included in the docs, but the audience is so small and anyone that wants to use this will know how they want to use it without an example so I think it's fine to just explain what it does and leave it at that.

[2015-12-14 02:13] AurelioDeRosa commented on #830
Thank  you for the explanation @scottgonzalez, especially for the use case. It makes a lot of sense now. I'll submit a PR by tomorrow.

[2015-12-14 09:32] mcdurdin commented on #838
It's not so much about documenting the internal implementation as noting that one is the opposite of the other, and making the documentation of the two methods consistent. And vice-versa, if there are differences, then document why they differ.

[2015-12-14 11:08] AurelioDeRosa commented on #832
@dmethvin @mzgol I'm not sure that's a real action here. Should I try to submit a PR to tackle this issue?

[2015-12-14 14:15] maciej-pawlisz opened #847 "jQuery.extend with deep=true causes unpredicted side effects"
There is a problem with deep extending - nested objects get overritten, which might be very confusing:
[code]
It is even worse, when `nested` will be a prototype - we can get very unexpected errors (I experienced it when using jquery.rest and I changed `verbs`)

In `jQuery.extend` function there is a comment, which suggests that this situation should be avoided :
[code]
but it is not working as th

[2015-12-14 14:19] AurelioDeRosa commented on #847
This sounds like a bug in the jQuery library, not the documentation. Can you please report it there ([https://github.com/jquery/jquery/issues](https://github.com/jquery/jquery/issues))? Also, I think they are going to ask you to provide a demo (JSBin, JSFiddle, CodePen, and so on).

[2015-12-14 14:19] #847 closed

[2015-12-14 14:52] dmethvin commented on #832
I don't see a clear problem statement here so I can't help. @Chealer can you clarify what you thought should be done? Without some information I think we'd need to close this ticket.

[2015-12-14 14:54] dmethvin commented on #838
I'd be fine with a reference such as "Also see the `:hidden` selector" in the entry for `:visible` and vice versa.

[2015-12-14 20:35] #798 closed

[2015-12-14 20:59] AurelioDeRosa commented on #838
I've submitted a PR to address this issue.

[2015-12-14 21:48] AurelioDeRosa commented on #828
@kswedberg Can you please take a look at this issue?

[2015-12-14 21:56] kswedberg commented on #828
Sure. Which version(s) introduced the change in return value?

[2015-12-14 23:54] AurelioDeRosa commented on #830
I tried my best to document this method. Please, review when you get a moment.

[2015-12-15 00:34] AurelioDeRosa commented on #814
Fixed with commit 4651f4415ca00b8f9862d3a39a3eeea8600ddfff.

[2015-12-15 00:34] #814 closed

[2015-12-15 01:24] Chealer commented on #832
dmethvin, the Types page should explain how named functions can be passed. Or failing that, at least not pretend that "this page documents [...] all and everything you wanted to know about Functions."

I do not see what I could add to be more specific beyond what was already written.

[2015-12-15 02:18] dmethvin commented on #832
I'm fine with removing the claim of "everything you wanted to know about Functions" since I don't think the jQuery API docs should be doing that. Opinions?

[2015-12-15 02:30] kswedberg commented on #832
I agree with @dmethvin here. We should keep the docs focused and leave the comprehensive/encyclopedic resources to the likes of MDN.

[2015-12-15 10:28] AurelioDeRosa commented on #832
That's my attempt to close this ticket (#850).

[2015-12-15 12:16] Chealer commented on #832
Thank you for providing a reference, Aurelio. I think this could be a more specific link: https://developer.mozilla.org/docs/Web/JavaScript

[2015-12-15 12:39] AurelioDeRosa commented on #832
Agree. PR updated.

[2015-12-15 12:40] AurelioDeRosa commented on #727
@gibson042 Did you have the time to take a look at this issue?

[2015-12-15 20:28] #832 closed

[2015-12-15 21:17] AurelioDeRosa commented on #781
Should we close this issue because of https://github.com/jquery/jquery/pull/2618?

[2015-12-16 00:05] dmethvin commented on #781
Yes, I think this should be closed with no action, since we are removing it in 3.0 and it was pretty strange before that. Objections?

[2015-12-16 00:16] AurelioDeRosa commented on #781
I think we have documented the bare minimum in case someone was using it (hopefully nobody). No other actions are needed IMO. I'm going to close this one and open an issue for branch `v3.0.0-docs` to document that the signature has been removed.

[2015-12-16 00:16] #781 closed

[2015-12-16 00:17] AurelioDeRosa opened #851 "Document that .toggleClass( boolean ) has been deprecated in jQuery 3"
Reference: https://github.com/jquery/jquery/pull/2618.

[2015-12-16 13:14] dmethvin commented on #851
Given that is wasn't really documented before (just a signature with no real explanation) I wonder if we should relegate this to the release notes.

[2015-12-16 18:23] #816 closed

[2015-12-16 18:25] #838 closed

[2015-12-24 18:44] #523 closed

[2015-12-28 16:16] timmywil commented on #620
Will actually be added in 1.12/2.2. I've fixed it in a [branch](27de1d526e42135bf801a68edcb5d3933d6822c8).

[2015-12-28 16:16] timmywil commented on #731
Will be added in 1.12/2.2. 2c3a071abe236bf5815698556a5daf0e98692366

[2015-12-28 16:17] timmywil commented on #814
Will be added in 1.12/2.2. 9bf0ad3c1e3816da7ebb331b3fda1e04df5287f6

[2015-12-28 16:21] AurelioDeRosa commented on #814
Thank you for that @timmywil. Should I include it in the main branch once we release 1.12/2.2?

[2015-12-28 17:02] timmywil commented on #814
Yup, I'm trying to get the branch to point where it can be merged on release.

[2016-01-03 00:05] #830 closed

[2016-01-03 19:16] moritzuehling opened #856 "jqXHR.error type"
See:

[2016-01-03 19:16] #856 closed

[2016-01-04 17:24] dmethvin opened #857 "Clarify and correct .closest() docs"
https://github.com/jquery/jquery/issues/2796

Remove reference to `this.context` ("context of the jQuery set") since it has been deprecated and was removed in 3.0.

Clarify that the `context` argument is used for jQuery-extension positional selectors such as `:first` and `nth()` but otherwise only for deciding how far up the tree to stop comparing nodes . That is, the context is not used as the ro

[2016-01-07 21:05] timmywil commented on #851
We've decided to save this removal for 4.0. We just need to mark it deprecated in 3.0.

[2016-01-10 07:52] jcuenod opened #861 "Clarify .prev"
I the `.prev` docs the description is

    Get the immediately preceding sibling of each element in the set of matched elements,
    optionally filtered by a selector.

I took this to mean that, given a selector, `.prev` would traverse back through sibling elements until it found one matching that selector. See also http://stackoverflow.com/questions/5452917/jquery-prevselector-not-working.

In th

[2016-01-10 14:34] dmethvin commented on #861
Good clarification. Also applies to `.next()`, `.prevAll()`, and `.nextAll()`, and a lot of the other [traversing methods](https://api.jquery.com/category/traversing/tree-traversal/) so perhaps it's worth having a [notes.xsl](https://github.com/jquery/api.jquery.com/blob/master/notes.xsl) entry that explains it?

[2016-01-10 15:33] AurelioDeRosa commented on #861
Definitely worth a note. @jcuenod would you like to submit a PR?

[2016-01-10 19:03] jcuenod commented on #861
Regarding the notes entry, I'm happy to do it if people agree but if it's only `.next` and `.prev` it may not be necessary. Are there other methods that need it?

@dmethvin I think when it comes to `.prevAll` and `.nextAll` things are a bit different. The explanation could say something to the effect that siblings are filtered according to the pattern and if none match an empty collection is retur

[2016-01-11 16:17] #727 closed

[2016-01-11 16:45] timmywil opened #862 "jQuery.isNumeric: add hex example"
See https://github.com/jquery/jquery/issues/2781

"add another example showing that "-0x42" returns false."

[2016-01-11 16:50] timmywil opened #863 "closest: clarify deprecated signature with context"
Currently, http://api.jquery.com/closest/#closest2 says that `.closest( selectors, [context])` was deprecated and removed in 1.8. It seems it wasn't actually removed. Also, this looks like a different signature in the docs than `.closest( selector, [context])`. Either the former or the latter needs to be removed and the remaining updated.

[2016-01-11 16:52] timmywil commented on #863
Nevermind, array, not string.

[2016-01-11 16:52] #863 closed

[2016-01-12 06:14] gibson042 commented on #857
I'd like to take a different tack and [ensure that positionals never match](https://github.com/jquery/jquery/pull/2818), in which case this issue is satisfied by removing the "If no context is passed in…" sentence.

[2016-01-14 01:54] dmethvin commented on #861
@jcuenod I see your point. The main confusion seems to be with `.prev` and `.next` so creating a reusable text for a short sentence may not pay off. @AurelioDeRosa would you be okay with just modifying those two?

[2016-01-14 16:19] dmethvin commented on #851
Oh I missed that I guess. Yes, it's still in master so deprecate in 3.0 and remove in 4.0 then.

[2016-01-14 20:16] AurelioDeRosa commented on #851
No worries Dave.

[2016-01-14 20:23] AurelioDeRosa commented on #861
I'll take a look at this tonight @dmethvin. Thank you for the ping.

[2016-01-15 17:04] timmywil opened #865 ".css('marginRight') may not be accurate for negative percent margins in Android 4.0-4.3"
See https://github.com/jquery/jquery/issues/1815

Retrieving negative percent margin-right in Android 4-4.4 may not return expected values. This is unfortunate, but necessary until we drop support for Android 2.3.

[2016-01-15 17:10] dmethvin commented on #865
If we have to choose, maybe we should make Android 2.3 lose this contest?

[2016-01-15 17:15] timmywil opened #866 "Show: add note about .css(...!important"
In fact, we'll probably want a note saying that values with "!important" will be ignored and to use classes instead.

From https://github.com/jquery/jquery/issues/2837

[2016-01-15 17:17] timmywil opened #867 "CSS: refresh language about old IE"
`currentStyle` and `runtimeStyle` are only in old IE, but the docs just say "Internet Explorer." We probably want to specify that it only applies to IE<9.

See https://github.com/jquery/jquery/issues/2837

[2016-01-16 17:04] AurelioDeRosa commented on #865
I'll wait before submitting a PR for this as it seems there is room for discussion.

[2016-01-16 17:09] #867 closed

[2016-01-16 17:13] AurelioDeRosa opened #870 "Types: Clarify where to use parenthesis in numbers to string convertions"
The ["Numbers to strings"](http://api.jquery.com/Types/#Numbers_to_Strings) section could clarify where  to place parenthesis.

[2016-01-16 17:19] AurelioDeRosa opened #871 "Types: The page should use the strict equality operator"
The ["Types" ](http://api.jquery.com/Types/) page should use the strict equality operator instead of the equality operator.

[2016-01-16 17:21] #870 closed

[2016-01-16 17:21] #871 closed

[2016-01-16 17:33] mgol commented on #867
Should we even mention IE<9 here? We're dropping support for it so it doesn't make much sense to advertise what we used to do for it.

[2016-01-17 12:33] #862 closed

[2016-01-17 20:26] dmethvin commented on #867
Once IE8 is really dead I can see dropping it, but it's useful info for people who still have to deal with it. Maybe in a year or two we make a run through the docs and remove all the IE apologies. :smiley_cat:

[2016-01-18 00:36] #851 closed

[2016-01-19 19:41] AurelioDeRosa commented on #821
Should be set this as deprecated now considering the **very low** support of the new standard?

[2016-01-20 22:16] acshef opened #876 "Better explanation for when keydown event is triggered"
The documentation at https://api.jquery.com/keydown/ states,

This is not the full story. The keydown event also fires as long as the key is being held (hold a key in the example at the bottom of that documentation page to see the handler repeatedly get called).

Perhaps there needs to be distinction between "pressing a key on the keyboard" (hardware-level) and the *browser* actually getting a key

[2016-01-20 22:44] dmethvin commented on #821
Here is the caniuse.com info for [KeyboardEvent](http://caniuse.com/#search=KeyboardEvent) and it looks like the deprecated `keyCode` still wins by a mile, so you may be right.

[2016-01-20 23:24] AurelioDeRosa commented on #876
Hi @acshef. I agree that the sentence could be clearer and it's worth a clarification. Do you want to submit a pull request for it?

[2016-01-21 15:56] deesto commented on #594
This seems kind of important to document, yet it's been a known issue since ... mid 2012?
https://github.com/jquery/api.jquery.com/issues/49

Please add the function's arguments to the docs, or at least a reference to the fact that the function has arguments? I'm not sure how the information can be considered complete and accurate without at least that reference.

[2016-01-21 16:01] AurelioDeRosa commented on #594
Hi @deesto.

The team is focused on keeping the documentation as accurate and correct as possible. However, as you might know, we work on this in our spare time. Therefore, we always encourage and appreciate any PR that can help us. Would you be keen to submit a PR for this issue?

[2016-01-22 00:24] AurelioDeRosa commented on #659
Closing this issue as it has been fixed.

[2016-01-22 00:24] #659 closed

[2016-01-25 18:05] timmywil opened #878 "Ajax: add note on how to bypass query string alteration for JSON requests"
See https://github.com/jquery/jquery/issues/1799

JSON requests will sometimes get promoted to JSONP if deemed cross-browser (we already document that part). We add a callback name to the query string for JSONP requests (we document that too). The part that isn't documented is that in rare cases, the data for a json request contains a question mark, and so the callback name may be injected into a

[2016-01-27 00:32] stanvass opened #879 "Document that $('.foo').append(document.createTextNode('bar')) is a supported use case"
The documentation says append() accepts:

- string
- Element
- jQuery collection

The problem is there's no official way to append a text *node* in jQuery. Using append() with a text node works just fine, but Text is not an instance of Element, it's an instance of its parent prototype, Node.

The way this is documented echoes in other tools and definitions like Definitely Typed's jQuery TypeScript

[2016-01-27 03:28] dmethvin commented on #879
Yeah, that should be documented (and for `.prepend` etc) since it's been supported forever.

[2016-01-27 13:28] kswedberg commented on #879
@dmethvin same for `.before()` and `.after`, too? And when you say "forever," do you mean, like, since 1.0—so we can just add the type to the existing signature? Should the new type be "Text" or "textNode" or "textContent"? Doesn't look like any of them shows up in https://api.jquery.com/Types/, so we'd have to add it there, too, right?

[2016-01-27 15:44] timmywil commented on #879
@kswedberg I'd vote for "Text", since that's what's in the spec.

[2016-01-27 16:03] kswedberg commented on #879
kthx, @timmywil !

[2016-01-27 18:02] dmethvin commented on #879
Yep, since 1.0 since a string is turned into a combination of nodes, some of which can be text nodes. Any API that accepts an arbitrary HTML string should also accept a text node, so that would include `.html()`

[2016-01-27 18:03] timmywil opened #880 "Add jQuery.escapeSelector"
See https://github.com/jquery/jquery/issues/1761

Document the new method `jQuery.escapeSelector`, for escaping strings for use in selectors. Much the same as the native [CSS.escape](https://developer.mozilla.org/en-US/docs/Web/API/CSS/escape), but replaces the null character with U+FFFD, rather than throwing an error.

[2016-01-27 19:07] gibson042 commented on #880
Actually, it's identical to `CSS.escape` as specified in [the current CSSOM draft](https://drafts.csswg.org/cssom/#the-css.escape()-method) (cf. https://drafts.csswg.org/cssom/#serialize-an-identifier ), which was updated when I raised the issue. :)

[2016-01-28 14:25] timmywil commented on #880
What @gibson042 said. I misunderstood.

[2016-01-28 14:25] timmywil commented on #880
So, I assume MDN needs an update.

[2016-01-29 18:14] sakkalabi commented on #49
Hi,
I will execute a script from ajax take ~ 20 min to get result in my website
jqXHR haven't option to show result after completed
[http://www.maisondemaroc.com](http://www.maisondemaroc.com)

[2016-02-09 15:30] IanKemp opened #882 ".outerWidth() and .outerHeight() don't specify the default values of the 'includeMargin' argument"
All other function docs specify the default value for their optional parameters (e.g. `.animate()`: `duration (default: 400)`) , but `.outerWidth()` and `.outerHeight()` do not. As far as I'm aware the default value is `includeMargin: false` but I'd appreciate if someone could double-check this.

[2016-02-09 15:37] dmethvin commented on #882
The text of the description clarifies the default value but it seems like a good idea to give the default above in case someone doesn't read that far, or if the XML is being processed by an automated tool. Would you like to submit a pull request for this?

[2016-02-10 11:39] mgol opened #884 "Warn about the lack of official SVG support for attribute manipulation (and maybe in other cases?)"
In https://github.com/jquery/jquery/issues/2910 @agcolom noticed that our lower-casing logic for attribute names breaks SVG attribute handling. This doesn't matter for us as we don't support SVG manipulation (with rare exceptions like class manipulation) but it may confuse users as some APIs might work in most/some cases and only break with others. We might want to warn on a couple of cases that e

[2016-02-10 11:42] mgol opened #885 "Document that SVG class manipulation is supported in jQuery 1.12, 2.2 or newer"
jQuery doesn't generally support SVG but due to the fact we've received exceptionally many questions about class manipulation support and it was relatively cheap for us to do, we added such support in jQuery 1.12/2.2. We should document that `addClass`, `removeClass`, `hasClass` and `toggleClass` is now supported on SVG nodes and we have [unit tests for that](https://github.com/jquery/jquery/blob/

[2016-02-10 11:43] mgol commented on #884
While we're at support for SVG class manip, I've just created #885 to document that.

[2016-02-10 13:08] mgol commented on #781
@AurelioDeRosa Did you open an issue against the `v3.0.0-docs` branch in the end? We have to be sure it's not documented to work in jQuery 3.0.

[2016-02-10 13:11] mgol commented on #781
Ah, sorry, I forgot https://github.com/jquery/jquery/commit/a4d16a26abe3ea36337f7bfc4d1bfe13b893cd17. And the issue about deprecation is #851.

[2016-02-10 18:36] timmywil commented on #884
If we're removing the lowercasing in 3.0, how hard would it be to support attribute manipulation on SVG elements?

[2016-02-10 18:41] mgol commented on #884
I'd guess it should *just work*™, we'd just need to add some tests an make sure they do pass in all supported browsers.

[2016-02-10 18:43] mgol commented on #884
@timmywil I have a PR for the removal: https://github.com/jquery/jquery/pull/2916. I can add some tests there and check if they pass.

[2016-02-11 00:19] AurelioDeRosa commented on #885
The `addClass` and `removeClass` have already [a note about SVG support](https://github.com/jquery/api.jquery.com/blob/674b7514dd46be08c75f8e38d60a90a724729159/entries/addClass.xml#L23). I'm going to add a note for `hasClass` and `toggleClass`.

[2016-02-11 00:27] AurelioDeRosa commented on #884
Should I wait before submitting a PR to note that we don't really support SVG documents?

[2016-02-11 00:44] #885 closed

[2016-02-11 01:00] timmywil commented on #884
@AurelioDeRosa Yea, I'd like to explore how easy it would be to support SVG in this area.

[2016-02-11 16:41] #882 closed

[2016-02-11 16:44] #857 closed

[2016-02-11 16:44] #866 closed

[2016-02-11 16:46] #861 closed

[2016-02-14 16:10] dmethvin opened #889 "Clarify jQuery.hasData"
change to

See https://github.com/jquery/jquery/issues/2919

[2016-02-14 18:07] andyli opened #890 "Missing site deployment since jQuery 1.12"
jQuery 1.12 / 2.2 has been released more than a month. Doc updates like the addition of `htmlPrefilter` and `uniqueSort` has been made to this repo, but not yet reflected in the live site of api.jquery.com.

[2016-02-14 22:06] AurelioDeRosa commented on #890
I'll create a new tag once #891 is merged. Thank you for the ping on this.

[2016-02-14 22:07] AurelioDeRosa commented on #865
Any update on this issue?

[2016-02-14 23:48] #889 closed

[2016-02-14 23:56] AurelioDeRosa commented on #890
@dmethvin Should I tag the new release as 1.12?

[2016-02-16 21:52] #876 closed

[2016-02-17 20:06] stelovsky opened #893 ".val() documentation should say what is returned if no radio button is checked"

[2016-02-17 22:18] dmethvin commented on #893
Can you clarify the type of information you would like to see there?

The idea of a checked or selected element is completely independent of its value retrieved by `.val()`, which is why the examples there show how to select a checked element. Is that the concept you think needs to be clarified?

[2016-02-17 22:20] dmethvin commented on #890
@timmywil do you have a preference here?

[2016-02-17 23:14] timmywil commented on #890
I prefer 1.12.0.

[2016-02-17 23:26] AurelioDeRosa commented on #890
Cool. I'll do that! Thank you

[2016-02-17 23:31] AurelioDeRosa commented on #890
Version 1.12.0 has been released.

[2016-02-18 01:17] stelovsky commented on #893
Hi,

Great that someone is responding!

Not true. If no element is selected, .val() returns null, at least in
newest Chrome: see below. But can I rely on that in any browser?

And I'd completely disagree that 'idea of a checked or selected element is
completely independent of its value' just the opposite, as the purpose of
it is 'The .val() method is primarily used to get the values of form
elemen

[2016-02-18 01:36] dmethvin commented on #893
Let's say you're writing this entry. What text would you add to the documentation to clarify this point?

[2016-02-18 18:26] stelovsky commented on #893
Dave, let me try:

Also, .val() can be used to find out which - if any - radio button in a
group is checked. For instance, $('input[name=radios]:checked').val() returns
either null if no radio button in the group radios is checked or the
value attribute
of the selected radio button.

Hope this helps.

Jan

Thanks,

Jan

Dr. Jan Stelovsky, Founder and CTO

www.parwinr.com, jan AT parwinr.com, +1-80

[2016-02-18 19:00] dmethvin commented on #893
group is checked.  ...  `$('input[name=radios]:checked').val()`

The finding out is all being done by the selector though so it's not about `.val()`. That is, `var checks = $('input[name=radios]:checked')` will select *all* the checked radios, and there may be none. If you wanted to know if any were checked you could just look for `checks.length === 0`.

Reading the title again, I think you're ask

[2016-02-18 19:50] jhfrench commented on #558
Looks like [CLA is ok now](https://github.com/jquery/api.jquery.com/pull/740#issuecomment-114901044)...ready to merge the PR?

[2016-02-18 21:10] stelovsky commented on #893
Dave,

Sounds great.

I understand completely what $(),val() do. I still maintain that the
explanation belongs to val().  Yours is good (the empty set case - as any
special return case in entire documentation - should be mentioned; notice
my mistake with undefined caused by my reliance on CoffeeScript which tries
- sometimes unsuccessfully - to eliminate undefined in favor of null),
albeit too 'ac

[2016-02-19 00:02] AurelioDeRosa commented on #890
@dmethvin I've pushed the tag but the changes are not published after 24h. Are you aware of any issue?

[2016-02-20 13:48] #558 closed

[2016-02-21 23:30] mcdurdin commented on #838
Yes, that's good.

[2016-02-22 15:35] dmethvin commented on #890
@AurelioDeRosa it looks like this didn't push but I am not sure why.

[2016-02-22 15:37] dmethvin commented on #890
I don't see the checked-selector one either but I do see the tag. Is it in stage for you?

[2016-02-22 15:38] AurelioDeRosa commented on #890
The checked-selector doesn't have a tag associated. If you want I can release a version 1.12.1 and see if it's published. What do you think?

[2016-02-22 15:38] dmethvin commented on #890
Is either of those pushed to stage though? I don't see them in stage either

[2016-02-22 15:52] dmethvin commented on #893
The API documentation is first and foremost a description of what inputs an API method takes and what outputs it produces. It is not intended to be a how-to guide, although the examples often provide information on places where that API can be applied. We're open to pull requests that add or clarify wording on the current behavior including edge cases.

The original question you were asking really

[2016-02-22 15:59] AurelioDeRosa commented on #890
Not that I can see.

[2016-02-22 16:59] dmethvin commented on #890
If there aren't any deployment errors being thrown there must be something wrong with the server then? @aulvi any ideas?

[2016-02-24 11:15] mgol commented on #884
@AurelioDeRosa We've established we're not going to officially support SVG attribute manipulation. That said, [I've landed a change](https://github.com/jquery/jquery/commit/615d92517b52d7e70d1c83397ed8207373a95137) to jQuery that should make it work for most of the cases (basically removing our lowercasing logic).

It's still unsupported, though, so a note in the docs sounds like a good idea.

[2016-02-24 12:51] dmethvin commented on #884
BTW the change @mgol mentions above lands in version 3.0. We couldn't take it out in 1.x because it's required for IE7 and we left it in 2.x for consistency.

[2016-02-24 14:44] abhisina commented on #49
How can I test the fail scenario of post method.
I am using perl script for on server end.
I have already tried die, exit & return with multiple parameters but I always get success as status.

[2016-02-24 14:44] dmethvin commented on #49
@abhisina That is a StackOverflow question.

[2016-02-24 15:09] RandallFlagg opened #894 "The ':first' and 'first()' documantations are confusing"
A short discussion that led me here: https://github.com/jquery/jquery.com/issues/120

https://api.jquery.com/first-selector/
https://api.jquery.com/first/

When reading this 2 docs the word elements once is referring to XML node(selector) and the other one is referring to array element(function).

The meaning should be unambiguous.

I would change the selector description to something like:
"Selec

[2016-02-24 19:54] AurelioDeRosa commented on #884
What about something like:

Also, where do you think we should add this note?

[2016-02-24 19:55] AurelioDeRosa commented on #865
Friendly ping @dmethvin and @timmywil.

[2016-02-24 19:59] mgol commented on #884
The note seems good to me; as to where to put it - good question! General pages tend to be overlooked and we already mention lack of SVG support on the [wont-fix contribute page](https://contribute.jquery.org/wont-fix/#svg-vml-or-namespaced-elements-bugs); I was thinking about making it a template and include this template on a couple of high-profile APIs like `.attr`, `.removeAttr` or `.find`.

[2016-02-24 23:33] AurelioDeRosa commented on #884
Thank you for the comment @mgol. Anyone else wants to comment on this? Since it's a change that will affect quite a few pages I'd like to hear from more people before submitting a PR.

[2016-02-25 00:27] mgol commented on #865
@timmywil it's Android 4.0-4.3, not 4.4. Android 4.4 doesn't have the Android Browser.

Also, I think you confused the issue a little - it's not Android 2.3 that's the problem here. There's a bug in Android 4.0-4.3 only: `getComputedStyle` sometimes returns percents instead of the pixel value for some values. The workaround for this bug causes the issue with negative percent margins but we decided

[2016-02-25 00:29] mgol commented on #865
This is my PR that fixes the percent-instead-of-pixel bug in Android 4.0-4.3 but causes the one we need to document here: https://github.com/jquery/jquery/pull/1842.

[2016-02-25 18:06] dmethvin commented on #884
Your text looks good although I would `s/specified/documented for that method/` to clarify that the method docs will say when they support SVG, otherwise assume they do not. Also that note should be clear that add/removeClass only support SVG as of 3.0.

[2016-02-25 18:40] dmethvin commented on #865
Is this something we should even attempt to document?

[2016-02-25 21:00] mgol commented on #865
@dmethvin always asking the difficult questions! :smile:

Probably not too many people care about negative percent margins in Android 4.0-4.3. But we don't seem to have many such bugs accepted in various browsers, do we? We might as well document it, at least at https://contribute.jquery.org/wont-fix/.

[2016-02-25 21:19] dmethvin commented on #865
That does sound like a better fit for wont-fix I think. Also, with Google and StaclOverflow I think it is legit to have comments like these act as documentation. We can't have yellow-box warnings sprinkled around every API call for each quirk of particular browsers, and this is an obscure one.

So basically the wont-fix text is something like?

[2016-02-25 21:45] mgol commented on #865
@dmethvin Sounds good. And good points. :+1:

[2016-02-25 22:55] #894 closed

[2016-02-25 23:13] AurelioDeRosa commented on #884
Thank you @dmethvin. I'm going to submit a PR.

[2016-02-26 21:49] #884 closed

[2016-02-26 22:07] AurelioDeRosa commented on #865
This issue has been documented in the contribute website. Closing.

[2016-02-26 22:07] #865 closed

[2016-02-26 22:18] AurelioDeRosa commented on #890
I pushed another tag today and it's still not published. We definitely have an issue here.

[2016-02-26 22:21] aulvi commented on #890
@dmethvin @AurelioDeRosa Sorry I missed your ping previously. I'll take a look and update this Issue again shortly.

[2016-02-26 22:54] aulvi commented on #890
@AurelioDeRosa It appears the tag is named incorrectly, there is one too many periods.

Current: v.1.12.1
Should be: v1.12.1

Please correct the tag and try again. Assign this Issue back to me if that doesn't work, thanks!

[2016-02-26 22:59] AurelioDeRosa commented on #890
Hi @aulvi.

Don't worry and thank you for checking t his issue. It's true that the last one was incorrect and I've fixed it now. However, the website didn't build even with the previous correct tag (1.12.0).

[2016-02-26 23:04] aulvi commented on #890
@AurelioDeRosa Cool, thanks for fixing the tag. The first step of the process is pulling the updated code, so now I can advance and find the next failing step. I'll update again shortly, thanks!

[2016-02-26 23:12] aulvi commented on #890
@AurelioDeRosa The grunt tasks completed successfully. How can I easily verify that the api site has been updated?

[2016-02-26 23:16] AurelioDeRosa commented on #890
You should find a text that reads:

in the [find()](https://api.jquery.com/find/) and [removeAttr()](https://api.jquery.com/removeAttr/) pages.

[2016-02-26 23:55] aulvi commented on #890
I've dug into this problem a bit and have no quick solution. All the scripts are reporting back happily, but the content we're creating for WP isn't making it into WP.

My best guess is that there's a stale node module somewhere, but it's going to take a bit of probing to find it. I'll update again when I know more, sorry this is moving slowly.

[2016-02-27 01:43] aulvi commented on #890
When `grunt deploy` runs, it's node process eats up a bunch of memory and is killed. I tried increasing the memory limit with no success. Below is the last bit of output when running in verbose mode:

[code]

Still digging.

[2016-02-27 02:11] dmethvin commented on #890
Hmm, I wonder if some recent change brought out this bug. There were some changes made to the global ajax event pages and also the grunt-jquery-content plugin back in December. Do we have a log of the most recent successful deployments?

[2016-02-27 02:12] dmethvin commented on #890
Oh also @AurelioDeRosa have you done an `npm install` since the grunt-jquery-content dependency was updated in December?

[2016-02-27 02:41] aulvi commented on #890
@dmethvin I've removed and re-populated `node_modules` a few times but no change in behavior.

Each time the task fails, it's during the `global-ajax-event-handlers` category. You mentioned that changes were made to those pages, was anything new done in the markup (or whatever?)

We have basic logging, to a point, when the deployment is initiated. I do not believe we have enough granularity in the

[2016-02-27 11:09] AurelioDeRosa commented on #890
No, I haven't updated the module @dmethvin.

[2016-02-27 15:21] kswedberg commented on #890
@aulvi : For what it's worth, I haven't been able to `grunt deploy` locally for at least a couple months now. @scottgonzalez , could the problem with the production deployment process be the same as the problem on my machine that I mentioned to you a while back?

[2016-02-29 14:36] scottgonzalez commented on #890
I'm pretty sure this has been broken for two and half months, since I implemented a fix for WordPress 4.4's `null` handling in https://github.com/scottgonzalez/node-wordpress/commit/3f844fc3f21be1cbba5b9780133013bd9b2c1117 and https://github.com/scottgonzalez/gilded-wordpress/commit/e8e71e7fb35671670fcf271d5cf497303ff284fc. At the same time, I upgraded the xmlrpc module in https://github.com/scott

[2016-02-29 16:39] dmethvin commented on #890
Is it possible to downgrade the xmlrpc module and see if it fixes things? That seems the likely suspect.

[2016-02-29 16:58] scottgonzalez commented on #890
Sure. I'd recommend testing it locally rather than going through a many project deploy process just to test.

[2016-03-02 23:31] rusterholz commented on #61
Any update on this? According to @arthurvr the core team discussed this almost a year ago, on 2015-04-13. Was a decision reached? Has any work been done to move this ahead? I'm working on a project and could _really_ use some documentation on the Tween object.

@dmethvin How exactly do you determine which parts of the public API are "mainstream needs" and which are not? If they're not mainstream n

[2016-03-02 23:43] dmethvin commented on #61
Nothing is hard if someone volunteers to do it. That's why this is labeled "help wanted", we just need someone motivated to do the work. If you are interested in this API it would be a great way to learn! Experience shows that once you document something and people start to use it, they will find problems and edge cases that need to be fixed in the code or documentation. So it's good to plan on a

[2016-03-03 00:19] AurelioDeRosa commented on #893
@dmethvin, it seems to me that this issue has been clarified and there isn't anything else to do. Can I close it?

[2016-03-04 21:19] #893 closed

[2016-03-08 20:01] mgol commented on #890
FWIW, it's best to not create tags manually but to run `npm version patch` (or `minor`, or `major` instead of `patch`) and npm does it for you.

[2016-03-08 20:12] mgol commented on #890
For me it fails on the first category, `ajax`. Downgrading the `xmlrpc` module from `1.3.1` to `1.0.1` only changes the error from:
[code]
to:
[code]

[2016-03-08 20:52] mgol commented on #890
I wanted to git bisect the api.jquery.com repo but I can't since on most commits even when I run `grunt deploy --force` I get:
[code]

[2016-03-08 22:33] mgol opened #898 "jQuery.parseJSON will be deprecated in jQuery 3.0.0"
`jQuery.parseJSON` will be deprecated in jQuery 3.0.0. `JSON.parse` should be used instead. This needs to be documented.

See https://github.com/jquery/jquery/issues/2800.

[2016-03-09 23:26] AurelioDeRosa commented on #890
Thank you for the reminder @mgol.

[2016-03-11 01:19] AurelioDeRosa commented on #756
Is this issue still relevant? If so, is the description provided by the OP a good base for a PR? // cc @timmywil @dmethvin

[2016-03-11 13:34] dmethvin commented on #756
This seems out of the scope of the API docs. The docs already specify that `jsonp: false` disable the use of JSONP. If the requesting site doesn't trust evil.com it should not be getting anything from it--script *or* JSON.

That said, if anyone has a short message we can add we could consider it. The $.ajax docs are already long and tedious to read though, so any addition may just get lost in the

[2016-03-11 14:42] AurelioDeRosa commented on #756
What about adding "If you don't trust the target of your Ajax requests, consider setting the `jsonp` property to `false` for security reasons"?

[2016-03-11 14:43] dmethvin commented on #756
That's nice and short, if you can find a place to put it.

[2016-03-11 14:46] AurelioDeRosa commented on #756
Perhaps close to the `jsonp` setting?

[2016-03-11 14:50] dmethvin commented on #756
Sure, works for me.

[2016-03-12 11:34] AurelioDeRosa commented on #608
Is this a valid issue? I'd really like to clean up a bit our issues list by closing old/irrelevant issues.

[2016-03-12 14:14] dmethvin commented on #608
We didn't change any jQuery code, it's just that with subpixel resolution on some browsers it's possible for this to not be an integer. I think the action here would be to change the documented return value of `.scrollTop()` from Integer to Number.

[2016-03-12 14:51] AurelioDeRosa commented on #756
Closed via e98feb7a5c4b88391a5667045f197e2ce450e7f4.

[2016-03-12 14:51] #756 closed

[2016-03-12 14:52] #608 closed

[2016-03-13 20:42] AurelioDeRosa commented on #732
@dmethvin I think this issue has been addressed with https://github.com/AurelioDeRosa/api.jquery.com/commit/75d59a317552b4978bbd27ee50dad8bb27a5cb15. Would you agree?

[2016-03-14 01:40] dmethvin commented on #732
Yep, thanks!

[2016-03-14 01:40] #732 closed

[2016-03-14 02:27] AurelioDeRosa commented on #898
Issue closed via https://github.com/jquery/api.jquery.com/commit/d3b74ac4c6f5b28bc6535c814c145eb73aa910fb.

[2016-03-14 02:27] #898 closed

[2016-03-14 08:47] zcorpan commented on #608
FYI returning non-integer for `scrollTop` is according to the current spec, and since this has been shipping successfully it is unlikely to be reverted at this point.

https://drafts.csswg.org/cssom-view/#extension-to-the-element-interface

[2016-03-17 18:23] Krinkle commented on #523
I still don't see this reflected on <https://api.jquery.com/attr/> ?

[2016-03-17 18:28] kswedberg commented on #523
@Krinkle, yeah... https://github.com/jquery/api.jquery.com/issues/890
sigh.

[2016-03-22 07:22] feiwen8772 commented on #890
waiting

[2016-03-22 12:38] dmethvin commented on #890
It looks like we're still blocked on this. @scottgonzalez any thoughts on how to either fix or back out that breaking change?

[2016-03-22 13:35] agcolom commented on #890
just for the record, this is the error I'm getting:
FATAL ERROR: CALL_AND_RETRY_LAST Allocation failed - process out of memory
Abort trap: 6

[2016-03-22 15:32] agcolom commented on #890
It seems the pb is caused by the sub categories. I noticed the process was hanging in method for mobile and this category has the path sub category. Removing this and the files that go in this sub category solves the pb.

[2016-03-22 21:28] agcolom commented on #890
Some updates: reverting jquery-wp-content back to 4.3.5 fixes it for me locally, but my guess is this is shared and we can't roll back just 2 sites?

[2016-03-22 22:38] scottgonzalez commented on #890
What version of WordPress are you using?

[2016-03-23 08:15] agcolom commented on #890
I am using WordPress 4.1-beta2-30788

[2016-03-23 08:32] scottgonzalez commented on #890
Well, that's why it works for you. You need to upgrade to at least 4.4.

[2016-03-23 08:44] agcolom commented on #890
I have upgraded to WordPress 4.5-beta4-37066 and it deploys fine locally.

[2016-03-23 08:59] agcolom commented on #890
With latest everything and WordPress 4.5-beta4-37066 it breaks when the path subcategory (first and only subcategory on this site) is being edited. I've added the output I get when running grunt deploy -v:
[output.txt](https://github.com/jquery/api.jquery.com/files/185641/output.txt)

[2016-03-28 16:17] dmethvin opened #903 "Document new 3.0 parseHTML behavior"
As of 3.0 `jQuery.parseHTML` creates a new `document` context if one isn't passed in by the caller. This can potentially improve security because inline events will not execute when the HTML is parsed. Once the parsed HTML is injected into a document it *does* execute, but this gives tools a chance to traverse the created DOM and remove anything deemed unsafe.

Note that internal uses of `jQuery.p

[2016-03-28 16:44] arschmitz opened #904 "Ajax example on when docs will fail with git build / 3.0"
https://api.jquery.com/jquery.when/

The first example resolves with multiple arguments which will fail on the git build and in upcoming 3.0 release because it uses then which no longer allows multiple args and will resolve with an array now in this case.

It's also a bad example as it lack error handling

[2016-03-31 13:29] #890 closed

[2016-04-05 18:55] JonathanAquino opened #906 ".when() documentation should say it takes Promises, not just Deferreds"
The [documentation](https://api.jquery.com/jquery.when/) for $.when() says that it takes Deferreds. However, it later implies that it can take Deferreds or Promises:

If so, then the documentation should be updated to say that $.when() takes Promises, not just Deferreds. Promises are more general than Deferreds.

In my testing, $.when() works with Promises, not just Deferreds.

[2016-04-05 19:24] dmethvin commented on #906
Yep, that's a feature of version 3.0.0 which hasn't been released yet. I don't see a commit in the [3.0 api docs branch](https://github.com/jquery/api.jquery.com/commits/v3.0.0-docs) yet though so thanks for the reminder! There is a mention of it in the 3.0 upgrade guide already, which is taking shape [here](https://docs.google.com/document/d/1QLkXfuhsFAppsZbi_8UJV0LxjNKaQfHwXmSR5GLVWX4/edit?usp=s

[2016-04-05 21:08] JonathanAquino commented on #906
@dmethvin Actually my comment applies to jQuery 2. You can not only pass Deferreds to .when() - you can also pass promises from Deferred.promise(). Promises are more general than Deferreds.

[2016-04-06 12:04] dmethvin commented on #906
Oh you mean the `.promise` from our own `jQuery.Deferred`? Yes. I agree, the type of the incoming args there should be [`Promise`](http://api.jquery.com/Types/#Promise) and not [`Deferred`](http://api.jquery.com/Types/#Deferred).

[2016-04-07 00:22] AurelioDeRosa commented on #906
`Deferred` is a superset of `Promise`,  or to cite our own documentation:

Said that, `$.when()` accepts `Deferred`, `Promise`, and `Promise`-like objects. In fact, in the documentation page of `$.when()`, we show an example where we pass `$.ajax( "test.aspx" )` which returns an `jqXHR` object, which in turn is a `Promise`-like object.

In conclusion, I think we should specify all these types and

[2016-04-07 01:06] JonathanAquino commented on #906
@AurelioDeRosa Since Deferred is a superset of Promise, then if you say that $.when accepts Promise-like objects, that includes Deferreds, Promises, and Promise-like objects.

So wouldn't it make more sense to just say that $.when accepts Promise-like objects?

[2016-04-07 01:12] dmethvin commented on #906
For jQuery 1.x/2.x it only accepts `jQuery.Deferred` or the `jQuery.Deferred.promise` subset of one.

For jQuery 3.0 it also accepts any "thenable" including an ES6 Promise.

We will probably want to change our use of the type name `Promise` in [Types.html](https://github.com/jquery/api.jquery.com/blob/master/pages/Types.html) to avoid confusion with the now-standard ES6 Promise. We can also add a

[2016-04-12 08:16] feiwen8772 opened #908 "category not found"
http://api.jquery.com/category/version/1.12/2.2/ this page not found。

/version/1.12&2.2/ maybe suitable。

[2016-04-12 09:46] victor-homyakov commented on #79
Taking into account amount of similar [StackOverflow questions](http://stackoverflow.com/search?q=jquery+val+trigger+change), it still may have sense to clarify this subtle point in jQuery documentation.

[2016-04-12 12:39] dmethvin commented on #79
Sure, pull requests are welcome at https://github.com/jquery/api.jquery.com .

[2016-04-12 20:55] AurelioDeRosa commented on #904
I think we should keep the example because people might rely on it and maintainers of projects using our previous versions might want to understand the pattern. My proposal is to add a `fail()` call to the existing example and add a change in branch v3 with a single argument. We should  also add an explanation of what is changed.

[2016-04-12 21:02] AurelioDeRosa commented on #908
This issue can be found at [$.uniqueSort()](https://api.jquery.com/jQuery.uniqueSort/). It was introduced in [commit 82c1f4c](https://github.com/jquery/api.jquery.com/commit/82c1f4c57d31142a4851d50cad4a0233a8c27036). @timmywil do you have any suggestion on the action here?

[2016-04-12 21:11] timmywil commented on #908
1.12&2.2 works for me.

[2016-04-12 21:12] AurelioDeRosa commented on #908
Is our system able to deal with the `&` character? If not, we could use a dash.

[2016-04-13 12:26] dmethvin commented on #908
Dash sounds safest.

[2016-04-13 12:29] dmethvin commented on #904
The only reason I'd want to keep it is to explain that people should not do it. That's fine though. Any call like `$.when( something-that-is-always-a-Deferred )` doesn't need `$.when` in the first place so we can explain that.

[2016-04-13 14:11] timmywil commented on #908
Dash makes it look like 1.12 to 2.2, tho.

[2016-04-13 15:09] dmethvin commented on #908
True. If `&` or `&amp;` works I'm down with it but I always get a bad feeling about character entities.

[2016-04-13 16:34] #79 closed

[2016-04-13 20:28] ericandrewlewis opened #910 "Attribute Equals Selector docs may be vague"
The [Attribute Equals Selector](https://api.jquery.com/attribute-equals-selector/) doc says that the attribute value "Can be either an unquoted single word or a quoted string."

This is a bit vague in light of [jquery/jquery#2824](https://github.com/jquery/jquery/issues/2824#issuecomment-171483952), as `#anchor` needs to be quoted. Perhaps we should just say that the value must be quoted, as descr

[2016-04-13 21:04] georgestephanis commented on #910
The w3 attribute selector specification requires that attribute values must be CSS **identifiers **or **strings**. -- https://www.w3.org/TR/css3-selectors/#attribute-selectors

In this context, **identifiers **may be comprised exclusively of case-insensitive alphanumeric characters, hyphens, underscores, and ISO 10646 characters U+00A0 and higher.  As the # sign does not fall under this subset of

[2016-04-13 22:42] dmethvin commented on #910
I think an "unquoted single word" is pretty clear, so `abc` and `dog` are words but `#abc` and `~$&@*` are not. If there is a simpler small phrase we can use there that doesn't require a paragraph let us know. Remember that this definition would need to be repeated anywhere that the identifier/string distinction is present in CSS selectors, including all the attribute selectors and not just this o

[2016-04-14 01:00] aaronjorbin commented on #910
Unquoted single word on its own isn't necessarily true.  While `#abc` isn't a word, `Ke$ha` is a word (even though she decided to switch to Kesha).

Perhaps "Can be either an unquoted single word (only containing alphanumeric characters) or a quoted string." ?  Makes it clearer what word means.

[2016-04-14 01:02] georgestephanis commented on #910
But the spec permits hyphens and underscores as well 🕵
On Apr 13, 2016 9:00 PM, "Aaron Jorbin" <notifications@github.com> wrote:

[2016-04-14 01:09] dmethvin commented on #910
It was never our intent with this documentation to replace the official spec. To say the exact same thing I suppose we should be using the exact same words in the same quantity, or we could just link to the spec. Nobody really wants to read something that excruciatingly and exhaustively detailed so the best thing to do is quote anything with special characters.

So how about to clarify if we make

[2016-04-14 12:25] kswedberg commented on #910
Sorry for entering the conversation late, but I thought I'd point out that we already deal with this on the main [Attribute Selectors](http://api.jquery.com/category/selectors/attribute-selectors/) page:

It then provides a few examples of quoting the attribute values.

I'd prefer changing "unquoted single word" to "valid identifier" and linking to http://www.w3.org/TR/CSS21/syndata.html#value-def

[2016-04-14 13:06] dmethvin commented on #910
I certainly defer to the wordsmiths here. Should we just link to our own Attribute Selectors page on these subpages perhaps?

[2016-04-18 16:55] markelog opened #912 "Document jQuery.easing with one argument"
We tried to remove additional arguments it in 3.0, turns out there is a lot of plugins using them, so we decided to deprecate it first before removing in some next major, but we can't deprecate something internal, so we decided to just document it as one argument method.

[2016-04-18 16:59] dmethvin commented on #912
In particular the [jQuery Easing](https://github.com/gdsmith/jquery.easing) plugin which is in use by about [8 percent of the top million sites](http://trends.builtwith.com/javascript/jQuery-Easing). The impact is probably more when you realize the code is small and may have been copy/pastaed to other places as well.

[2016-04-18 17:02] scottgonzalez commented on #912
It's entirely possible that those stats are completely wrong too. You'd have to know how BuiltWith is detecting the easing plugin and whether that logic can differentiate between jQuery Easing and jQuery UI.

[2016-04-18 19:59] kswedberg commented on #912
Presumably, though, if BuiltWith were including jQuery UI in its results for jQuery Easing, it would claim more than **18** percent, which is what BuiltWith says jQuery UI has out of the top 1 million. Even if only half of jQuery UI installs included UI effects core, that would still put easing over 9%. So, I'm guessing they have some way of differentiating the two.

[2016-04-18 20:11] dmethvin commented on #912
In any case it seems like a good idea to err on the side of caution and not change the code in 3.0. The ticket here is just to document that the easing functions get one argument.

[2016-04-18 20:20] scottgonzalez commented on #912
Detection and overlaps are somewhat complicated. The two main methods are detecting URL patterns in `<script>` and detecting code patterns in script content. A large portion of jQuery UI users will just grab the entire suite from a CDN. In this case, BuiltWith probably doesn't parse the code since they already know that it points to jQuery UI. So even though many jQuery UI users will have the easi

[2016-04-18 22:40] AurelioDeRosa commented on #912
So, is the plan to document `jQuery.easing` with one argument and to document the version with four arguments but also specify that it's deprecated as of jQuery 3?

[2016-04-19 01:08] AurelioDeRosa commented on #910
I'd vote for having a link to our own doc. Should I submit a PR for this issue?

[2016-04-19 03:47] markelog commented on #912
@dmethvin

I'm sorry, i was under impression it was decided to put those arguments back, did i misunderstood.

@scottgonzalez

That is all speculative, right? If there isn't any proof, i don't see how this numbers could be just thrown away.

@AurelioDeRosa

Idea was to just document it with one argument, we could mention that before it was different though

[2016-04-19 03:53] markelog commented on #912
@dmethvin oooh, by

you probably meant to revert, right? I guess i did misunderstood :)

[2016-04-19 09:28] #910 closed

[2016-04-19 12:15] dmethvin commented on #912
So I thought what we decided yesterday was to 1) put back the code for now that delivers the extra args to the easing functions, 2) deprecate them since they were undocumented, 3) document the single arg version in the entry for `.animate()`.

[2016-04-19 13:16] kswedberg commented on #910
Thanks, @aaronjorbin and @AurelioDeRosa . Linking to an explanation is definitely an improvement. I still think "unquoted single word" is imprecise, though, and would prefer to use "valid identifier" instead. Makes sense to drop the "unquoted" bit, too, because there's no harm in quoting a valid identifier (and, in fact, some would prefer to quote it for consistency's sake).

`Can be either a <a h

[2016-04-19 13:17] kswedberg commented on #910
Oh, and @AurelioDeRosa , I think changing that link from www.w3.org to our own doc is fine.

[2016-04-19 13:31] markelog commented on #912
Yeah, although @timmywil suggestion was to just document one argument for `jQuery.easing` method, that way we would both document the object and deprecate those args.

It could be good to add a note of how it was before though.

[2016-04-19 14:42] #879 closed

[2016-04-19 14:53] AurelioDeRosa commented on #910
Thinking again about it, I think it's fine to have the link to W3C. Let's see what other think about it.

[2016-04-19 15:21] dmethvin commented on #910
Either works for me, I defer to the wordsmiths!

[2016-04-19 15:43] AurelioDeRosa commented on #910
I'm pro changing "valid identifier" with "valid identifier". It sounds better and more precise.

[2016-04-19 17:57] kswedberg commented on #910
great! @AurelioDeRosa: do you want to take care of the word change, or shall I?

[2016-04-19 18:00] AurelioDeRosa commented on #910
If you don't mind, sent a PR and I'll review it (not that you really need it).

[2016-04-20 14:08] kswedberg opened #916 "Types page breaks grunt build-posts"
Recent change to Types page had some problems:

* Missing opening `<p>`
* `<code data-lang="html">`, which doesn't seem to be supported. Not sure why.

A pull request is coming soon.

[2016-04-21 12:14] kswedberg commented on #916
Closed by 8b3b088c76c1e23d96bea3b54079f33e6f5a1afe

[2016-04-21 12:14] #916 closed

[2016-04-21 12:52] kswedberg opened #918 "Change wording of attribute selector docs"
Should change "unquoted single word" to "valid identifier."

[2016-04-21 13:21] kswedberg commented on #918
In response to comments in gh-910

[2016-04-26 14:36] dmethvin opened #919 "jQuery.ajaxSettings.traditional"
In http://api.jquery.com/jQuery.param/ we say that looking at the `traditional` flag was removed in 1.8 but in reality it didn't happen until 3.0. The note there needs to be updated to say 3.0.

[2016-05-05 00:04] ConnorCartwright commented on #734
Hey guys @AurelioDeRosa @gibson042

Not sure if this was fixed with [issue #2275](https://github.com/jquery/jquery/issues/2275)?

[2016-05-05 02:11] gibson042 commented on #734
I suppose the most accurate documentation would explain that `:disabled` matches elements that are **actually disabled** and link to https://html.spec.whatwg.org/multipage/scripting.html#disabled-elements .

[2016-05-05 15:48] AurelioDeRosa commented on #919
So, I'd say that we should remove the note from master and add it in branch 3.

[2016-05-05 22:04] gibson042 opened #921 "Document jQuery.when changes in 3.0"
Ref https://github.com/jquery/jquery/commit/356a3bccb0e7468a2c8ce7d8c9c6cd0c5d436b8b

[2016-05-06 01:19] dmethvin commented on #919
SGTM!

[2016-05-07 13:26] #796 closed

[2016-05-07 13:33] #734 closed

[2016-05-07 23:34] AurelioDeRosa commented on #456
@ConnorCartwright I think this is another issue you could fix. Would you mind submit a PR?

[2016-05-08 04:02] gibson042 opened #926 "Rename Promise to be jQuery specific"
Cf. https://github.com/jquery/api.jquery.com/pull/922/files/4791120eebd71fb0fbd2cbbe29bc8fdf073c8f69#r62416632

[2016-05-08 14:20] ConnorCartwright commented on #456
Hey guys @AurelioDeRosa @dmethvin

Have the `input` and `beforeinput` events been  [renamed](https://www.w3.org/TR/DOM-Level-3-Events/#changes-drafts) to `beforeedit` and `edit` events?

I created a small demo but I feel like I'm missing something or may have misunderstood:

[code]

Here event.data prints out the object with `name: "Connor"`, but `event.originalEvent.data` is undefined.

[2016-05-08 21:08] #918 closed

[2016-05-09 02:20] dmethvin commented on #456
I didn't realize the name changed last year. The latest spec is here?

https://w3c.github.io/editing/input-events.html#interface-InputEvent

I thought maybe it would pass data with contenteditable but that doesn't seem to be the case either:

https://jsfiddle.net/9v0mesn1/

I'm not sure because I've never used this event, maybe someone else knows?

[2016-05-09 02:22] dmethvin commented on #926
Per the discussion there, how about something like jQueryPromise or jQuery-promise?

[2016-05-09 12:06] AurelioDeRosa commented on #926
I'm for jQuery-promise

[2016-05-10 20:12] mgol commented on #405
See https://github.com/jquery/jquery/issues/3112. As @silverwind pointed out, we've now removed `jQuery.event.props` completely in https://github.com/jquery/jquery/commit/e61fccb9d736235b4b011f89cba6866bc0b8997d so this snippet is now not only not advised but will break in jQuery 3.0.0. We need to remove it ASAP and certainly before jQuery 3.0.0 comes out.

[2016-05-10 20:13] mgol commented on #405
I've added the `3.0.0` milestone.

[2016-05-10 20:20] silverwind commented on #405
Might be good to make a changelog entry too for the removal of `jQuery.event.props`.

[2016-05-10 20:26] mgol commented on #405
@silverwind What changelog do you have in mind?

[2016-05-10 20:31] mgol commented on #405
Ah, you probably mean the `Version` subsection. We have an in-progress branch at https://github.com/jquery/api.jquery.com/tree/v3.0.0-docs that will land when jQuery 3.0.0 comes but I see it's quite out of date (and doesn't even compile on my machine anymore). @AurelioDeRosa do you know what's the state of that?

[2016-05-10 20:32] silverwind commented on #405
I see you're not keeping a formal changelog. I meant the blog posts, like [this one](http://blog.jquery.com/2016/01/08/jquery-2-2-and-1-12-released/).

[2016-05-10 20:41] mgol commented on #405
@silverwind OK. :) We've already added the description to the [upgrade guide](https://jquery.com/upgrade-guide/3.0/#breaking-change-jquery-event-props-and-jquery-event-fixhooks-removed); there are no links to this page yet, we'll include one in the blog post.

[2016-05-10 21:27] ConnorCartwright commented on #456
Hey @AurelioDeRosa @dmethvin

Looks like input/before input are still in use.

In your jsfiddle, I'm assuming we should be seeing the content of the div as the `event.originalEvent.data` after we input? (i.e. if it's empty and you type in 'b', that should appear as the data)

[2016-05-10 22:29] dmethvin commented on #456
@ConnorCartwright yes I expected there would be an `event.data` property in that fiddle (since it's a native event). Not sure why there isn't one.

[2016-05-11 08:16] #405 closed

[2016-05-12 16:11] mnpenner commented on #205
So....does jQuery have a Promise for when the document is ready or not?

[2016-05-12 16:22] dmethvin commented on #205
Yes it does. Think of it as a thenable though and to not make other assumptions about it.

https://github.com/jquery/jquery.com/blob/master/pages/upgrade-guide/3.0.md#feature-jqueryready-promise-is-formally-supported

[2016-05-17 12:12] dmethvin opened #930 "Add reusable note to blur, focusout, focusin, focus pages"
See https://github.com/jquery/jquery/issues/3123

How about something like this?

[2016-05-17 12:16] mgol commented on #930
We can only guarantee `blur` will happen before `focus` and `focusout` before `focusin`. The spec, for instance, mandates that `focusin` happens before `blur` and IE 11 follows that.

[2016-05-17 12:17] mgol commented on #930
The last sentence sort of replies to what I posted above but the previous one suggests something else. I'd rephrase it.

[2016-05-17 12:51] AurelioDeRosa commented on #205
Should this be referred as what we'll call [jQuery-Promise](https://github.com/jquery/api.jquery.com/issues/926)?

[2016-05-17 13:00] dmethvin commented on #205
No, this is actually just a thenable so we provide even fewer guarantees about what it is. It is acceptable to use `jQuery.ready` as input to `jQuery.when)` but not to do something like `jQuery.ready.done(fn)` because we don't guarantee that it will have a `.done()` method like a `jQuery.Deferred` would have. That's the gist of the upgrade guide explanation too.

Perhaps we could create a `Thenabl

[2016-05-17 15:34] gibson042 commented on #205
I like that. In practice, it is a base of both ES6 Promise and jQuery Promise, the latter of which is itself a base of jQuery Deferred.

[2016-05-18 12:21] dmethvin commented on #930
Agreed, we can't guarantee that. Edited.

[2016-05-18 12:27] dmethvin commented on #205
See also #906 and #530, there's some duplication among them.

[2016-05-18 12:42] kswedberg commented on #930
Hey @dmethvin,
In the last sentence, you can probably drop the first "relative" because it's redundant: "Code should not depend on the order of `focusin` and `focusout` events relative to `focus` and `blur`…"

[2016-05-18 12:44] dmethvin commented on #930
Changed! There's a "fewer relatives" mother-in-law joke in here somewhere.

[2016-05-19 23:51] #364 closed

[2016-05-20 00:32] #919 closed

[2016-05-21 19:46] mgol commented on #930
`not implemented at all on Firefox` - not `in Firefox`?

Also, I'd like the text to say `focusout` will happen before `focusin` and `blur` before `focus` if possible as we do guarantee that.

[2016-05-23 15:01] dmethvin commented on #930
Agreed, updated to reflect that @mgol.

[2016-05-23 15:23] mgol commented on #930
Thanks, the note looks good. I only have a grammar question: shouldn't it say `in Firefox` instead of `on Firefox` & `In Internet Explorer` instead of `On Internet Explorer`? Or have I been using English incorrectly? ;)

[2016-06-02 22:47] dmethvin commented on #930
Sorry, i just got to this in my inbox! I think you could use `on` if you think of a browser as a platform or `in` as an environment. Either works for me. If you think you use English incorrectly, you should see me with French or Spanish.

[2016-06-02 23:29] mgol commented on #930
OK, thanks for an explanation, that captures it nicely. I seem to think of a browser as an environment more than a platform so I see where my `in` comes from. Either works fine. :)

[2016-06-08 14:27] dmethvin opened #935 "Document new 3.0 properties that are available on the event object"
At minimum [this list](https://github.com/jquery/api.jquery.com/blob/32c9e324659aa57f1fc8e4a024622609f0144fa2/categories.xml#L145) needs to be updated for 3.0 but it's worth a review to see if any other things need to be changed.

[2016-06-08 21:28] tdelmas opened #936 "The documentation of jqXHR methods could be improved"
The documentation at https://api.jquery.com/jquery.ajax/#entry-longdesc says that **statusCode** and **abort** methods are exposed "For backward compatibility with XMLHttpRequest", but:
- the **.statusCode** method does not seams to exists outside jQuery
- the jqXHR **.abort** method seams to takes an optional string as argument ( https://github.com/jquery/jquery/blob/master/src/ajax.js#L511 ) but

[2016-06-09 21:13] #880 closed

[2016-06-09 21:13] #903 closed

[2016-06-09 22:01] mgol opened #937 "master is broken"
After merging the `v3.0.0-docs` branch to `master` the build is broken. The `version/3.0` slug is missing so `grunt deploy` ends with:
[code]

[2016-06-09 22:02] mgol commented on #937
Do we just need a `3.0` entry in https://github.com/jquery/api.jquery.com/blob/master/categories.xml?

[2016-06-09 22:16] mgol commented on #937
PR: #938.

[2016-06-10 22:56] #937 closed

[2016-06-16 12:46] kswedberg commented on #908
@timmywil , @AurelioDeRosa : When I add the `1.12&amp;2.2` slug to categories.xml, I get `Warning: Invalid slug: 1.12&2.2.`

[2016-06-22 08:55] mafflerbach opened #940 "weird behavior from replaceWith by shorthand html tags"
actual:
it seems to be, that jquery handle the shorttags as an open tag and ignore the rest of content.
see file:
[actual.txt](https://github.com/jquery/api.jquery.com/files/327325/actual.txt)

expected:
The behavior should be the same for `<tag></tag>` and `<tag/>`
[expected.txt](https://github.com/jquery/api.jquery.com/files/327326/expected.txt)

Test:
[test.txt](https://github.com/jquery/api.jq

[2016-06-22 10:20] AurelioDeRosa commented on #940
Hi. Can you please create some [JSFiddle](https://jsfiddle.net/) or [JSBin](https://jsbin.com/) to demonstrate the issue?

[2016-06-22 10:31] mafflerbach commented on #940
[https://jsbin.com/zategoyaso/edit?html,output](
https://jsbin.com/zategoyaso/edit?html,output)

normaly the expected output

but actual

The rest of content is cutted

[2016-06-22 10:36] AurelioDeRosa commented on #940
Your markup is invalid. The first `div` is self-closed which is incorrect. As soon as you fixed that issue, the code works correctly.

[2016-06-22 10:36] #940 closed

[2016-06-22 20:19] slauyama commented on #412
If delete is in fact supported by $.ajax, I think it should be mentioned in the documentation. For a minute I thought that $.ajax did not support the `delete` method because it only mentioned `put`, `post`, and `get`.

[2016-06-22 20:24] AurelioDeRosa commented on #412
e.g. stands for "for example", so we don't exclude the other methods and we mention only some of them. The issue was fixed with commit 1af30ac254c825907de2cbeb9a1f0f28fe8cc24e.

[2016-06-29 12:38] mgol opened #942 "Document jQuery.readyException"
See https://github.com/jquery/jquery/pull/3210. `jQuery.readyException` is a callback that's fired when the function wrapped in `jQuery.ready` throws an error. By default it re-throws the error in a timeout so that it's not silenced but visible in the user console.

[2016-07-01 07:54] feiwen8772 opened #943 ".data() api"
http://api.jquery.com/data/
 [the algorithm of the Dataset API](http://www.w3.org/TR/html5/dom.html#dom-dataset)
not transforms URL

[2016-07-01 07:55] feiwen8772 commented on #943
![467d3ef5-cc98-46d6-a396-d998c0adbfce](https://cloud.githubusercontent.com/assets/373130/16515379/467659aa-3fa4-11e6-9f9f-16c1bf803ba9.png)

[2016-07-01 23:35] #943 closed

[2016-07-03 12:13] teo1978 opened #945 "delegate() is not listed as deprecated"
`.delegate()` isn't listed here:
http://api.jquery.com/category/deprecated/

nor is there any notice here: http://api.jquery.com/delegate/ saying that it is officially deprecated. It only says:

However, a search for the word "deprecated" in the page will find nothing.

Yet, if you use the jQuery 3 Migrate plugin, you will get warnings if you use `delegate()` that it is deprecated.

[2016-07-06 09:11] mgol commented on #943
@AurelioDeRosa You need to run `npm version patch` and push the tag to the repo to trigger the page update, otherwise nothing happens.

[2016-07-06 09:37] mgol commented on #942
PR: #946

[2016-07-07 07:47] markelog commented on #945
Nice catch! Would you like to send us a pr for that?

[2016-07-07 23:01] #942 closed

[2016-07-10 05:49] ShashankaNataraj opened #947 "Deprecate jQuery.now docs changes"
Raising this issue as per the PR checklist. There are docs changes involved with fixing:
https://github.com/jquery/jquery/issues/2959

[2016-07-10 11:15] AurelioDeRosa commented on #947
Thank you for opening this. I'll document the deprecation as soon as version 3.2.0 will be released.

[2016-07-10 11:15] AurelioDeRosa commented on #947
Thank you for opening this. I'll document the deprecation as soon as version 3.2.0 will be released.

[2016-07-10 18:53] AurelioDeRosa commented on #943
Hey @mgol.

I knew it but usually I try to push a couple of changes before creating a new version.

[2016-07-10 22:32] mgol commented on #943
Why? I don't see why it's necessary to wait for a week or two before a merged change gets published; I think we should do it immediately - the code is there, people should be able to see the updated site.

[2016-07-10 22:45] AurelioDeRosa commented on #943
Well, I didn't write "wait for 1-2 weeks". I wrote "1-2 changes", which means merge 1-2 changes within 1-2 days and then push. If I forgot to push the change in one occasion, that's a different story.

[2016-07-10 22:51] AurelioDeRosa commented on #908
So, I had a bit of time to dig into this issue. The `&` doesn't work and the dash is the only character I managed to have working. Is everyone happy with it?

[2016-07-11 01:53] dmethvin commented on #908
Dash works for me. You could say my hopes were dashed. Or not.

[2016-07-11 03:28] ShashankaNataraj opened #949 "Deprecate jQuery.isNumeric docs changes"
Raising this issue as per the PR checklist. There are docs changes involved with fixing: https://github.com/jquery/jquery/issues/2960

[2016-07-11 06:37] ShashankaNataraj opened #950 "Deprecate jQuery.isArray docs changes"
Raising this issue as per the PR checklist. There are docs changes involved with fixing: https://github.com/jquery/jquery/issues/2961

[2016-07-11 12:09] kswedberg commented on #908
@AurelioDeRosa Works for me!

[2016-07-13 12:19] mgol opened #951 "Document deferred.catch"
We should have a page at https://api.jquery.com/deferred.catch/ that documents `.catch(fn)` as an alias of `.then(null, fn)`. It has been available since 3.0.

[2016-07-13 12:20] mgol opened #952 "select-multiple returns [] if no options are selected, not null"
Since jQuery 3.0.0, select-multiple returns an empty array if no options are selected, not `null`. The docs at https://api.jquery.com/val/ should be fixed to reflect that.

[2016-07-13 12:21] mgol commented on #828
Version 3.0.

[2016-07-13 12:21] mgol commented on #952
Ugh, I didn't notice #828 and duplicated it. Closing.

[2016-07-13 12:21] #952 closed

[2016-07-13 12:32] mgol opened #953 "jQuery 3.0 disables the guessed dataType: 'script' for cross-domain URLs"
jQuery 3.0 disables the guessed dataType: 'script' for cross-domain URLs. See https://github.com/jquery/jquery/commit/b078a62013782c7424a4a61a240c23c4c0b42614 and:
https://jquery.com/upgrade-guide/3.0/#breaking-change-cross-domain-script-requests-must-be-declared

[2016-07-13 13:11] kswedberg commented on #828
ah, ok. I'll put something together later today.

[2016-07-13 17:28] damhonglinh opened #954 "$ele.find(...) weirdly returns elements outside $ele if $ele have similar ID"
When there are elements with the same ID (due to very-hard-to-change "old code"), `$ele.find('.label + span')` (Next Adjacent Selector is required to produce the bug -- due to very-hard-to-change "old code", again) returns `<span>` elements which are not descendants of `$ele`. The 2 keys to reproduce the bug is:
+ Outer elements have the same ID (which I know is bad).
+ The selector in the argumen

[2016-07-13 18:34] gibson042 commented on #954
Duplicate ids aren't just bad, they're [invalid](https://html.spec.whatwg.org/multipage/dom.html#the-id-attribute):

If you truly can't correct the source, then I recommend a post-selection filter:
[code]

[2016-07-13 18:34] #954 closed

[2016-07-14 01:54] kswedberg commented on #828
errrr. tomorrow. sorry.

[2016-07-14 01:58] damhonglinh commented on #954
Thanks for the recommendation although I used this approach `$ele.find(".label").next("span")`. Hopefully it will work expectedly.

[2016-07-14 02:05] gibson042 commented on #954
Only because of an optimization in simple selector handling. If you want reliable behavior, use my suggestion.

[2016-07-17 14:30] Mottie opened #956 "Update removed category for v3.0"
The [removed](http://api.jquery.com/category/removed/) category page needs to be updated for jQuery v3.0+. In most cases the "removed: 3.0" in the header of each page is also missing.

I don't have an extensive list of removed items, but so far I've found:

| Item                                           | Deprecated | Removed |
|------------------------------------------------|:----------:|:----

[2016-07-17 17:00] #908 closed

[2016-07-17 17:00] #956 closed

[2016-07-17 17:35] #828 closed

[2016-07-18 12:24] bharathirajauk commented on #912
animate method is throwing exception "TypeError: setting a property that has only a getter" using below code.

[code]

this is working fine in 2.1.4 version. If i refer 3.0.0 version, it throws above error.

JQuery3.0.0 source code: throws exception in the below set method
---------------------------------------------------------------------------
[code]

[2016-07-18 15:02] dmethvin commented on #912
@bharathirajauk This is the documentation repo. It appears you're trying to report a bug in the code, not the docs. Please report code bugs at https://github.com/jquery/jquery/issues and ***please include a working complete test case from jsbin.com or jsfiddle.net***.

[2016-07-18 20:55] tdelmas opened #958 "Type: Error not documented"
The link on _Error_ in the page https://api.jquery.com/jQuery.readyException/ goes to https://api.jquery.com/Types/#Error but that page doesn't describe it (and there is not anchor for error)

The link is generated by https://github.com/jquery/api.jquery.com/blob/master/entries/jQuery.readyException.xml#L7

[2016-07-21 14:16] #912 closed

[2016-07-22 03:11] Aqours opened #959 "[jQuery.ajax about jsonp] error description for dataType and more explicit description for url"
URL: http://api.jquery.com/jQuery.ajax/
1. An error description for dataType
   ![qq 20160722102217](https://cloud.githubusercontent.com/assets/8586286/17044978/a7e9f9a4-4ff7-11e6-9ff6-49d90e24e900.png)
   Actually cross-domain `"json"` requests will be not converted to `"jsonp"`.
2. JavaScript code

[code]

This request will be auto converted to `"jsonp"`. Write this feature on jQuery document th

[2016-07-22 13:16] dmethvin commented on #959
Doesn't your example show the documentation is correct?

[2016-07-25 08:41] Aqours commented on #959
1. The wrong on jQuery document.
2.  Adds an extra `"?callback=?"` to the end of your URL to indicate that loads in a JSON block using JSONP when using `dataType: "json"` or `dataType: "jsonp"`. (I think it will be a more accurate description about my example)

[2016-07-25 11:43] mgol commented on #908
@kswedberg You need to add a new tag (`npm version patch` & push) to have the changes reflected on the site.

[2016-07-25 12:20] kswedberg commented on #908
@mgol right you are! Sorry, dropped the ball there.

[2016-07-25 17:51] kswedberg commented on #908
Hmm. seems you already did it. Thanks, @mgol !

[2016-07-25 18:19] mgol commented on #908
Yup, I just wanted to remind you about it for the sake of the future. :)

--
Michał Gołębiowski

[2016-08-01 15:23] vitaliylag opened #961 "Very slow listeners when filtering by selector."
Now jQuery compares all selectors each time the event occurs, but this is not optimal.

You should use this algorithm:

1. For example, let it be #id selector. Create object: key -> id, value -> listener.

2. When the event occurs do something like that:
[code]
3. If you have more than one listener with the same selector filter then merge them into an array.

4. If you need keep order of calling t

[2016-08-01 15:23] #961 closed

[2016-08-01 21:48] mikker101 opened #962 "Suz"
Please help

[2016-08-01 21:48] mikker101 commented on #962
<i class="msame_chev_uhf shell-icon-dropdown">

[2016-08-01 21:49] #962 closed

[2016-08-04 11:20] xsanda opened #964 ".load() method recommended on .ready() page, even though it's deprecated"
In the yellow warning box on http://api.jquery.com/ready/, the `.load()` method is recommended, even though it has been removed in 3.0.0, and was deprecated in 1.8.

[2016-08-04 21:19] luisasalas opened #965 "Documentation is wrong(http://api.jquery.com/jQuery/#jQuery-selector-context)"
http://api.jquery.com/jQuery/#jQuery-selector-context

Documentation is wrong(http://api.jquery.com/jQuery/#jQuery-selector-context)
Context can be of Type: Element or jQuery or Selector not Type: Element or jQuery.

See source code.
https://github.com/jquery/jquery/blob/305f193aa57014dc7d8fa0739a3fefd47166cd44/src/core/init.js#L94

[2016-08-04 21:36] timmywil commented on #965
It may work, but that doesn't mean it's supported and should be documented. Besides, if you're passing in a selector with a selector context, you may as well just pass a selector without a context.

[2016-08-04 21:36] #965 closed

[2016-08-04 21:38] dmethvin commented on #965
I agree with @timmywil, it is not valid to trace the current code execution paths and declare that whatever they happen to do right now is what should be documented.

[2016-08-05 22:59] JakeCigar opened #966 "Serialize of a disabled form."
3.1.0 returns an empty string in Chrome/Opera and IE. With older (1.x.x) jQuery or other browsers it works fine.

 Safari, and Firefox seem fine.
[ser.html.zip](https://github.com/jquery/api.jquery.com/files/404741/ser.html.zip)

[2016-08-06 01:10] dmethvin commented on #966
Hey @JakeCigar this sounds like a potential code bug and not a docs bug. I don't think forms have a `disabled` attribute. Can you file a bug report at the jquery code repo?

[2016-08-06 01:10] #966 closed

[2016-08-06 01:29] dmethvin commented on #964
I'll work on rephrasing this, there are several things that need to be clarified.

[2016-08-06 01:37] dmethvin commented on #964
Additionally:
* Mention preference for `$(function)`; others are deprecated since they don't use their selection.
* When multiple functions are added, they run in the order they are added.
* As of jQuery 3.0 an error in one function will not prevent subsequent functions from running.
* Do not assume that it is safe to attach document.onload handlers in a ready function.
* Ready functions are guara

[2016-08-06 02:57] JakeCigar commented on #966
Sorry about that… hit the wrong bug reporter.

[2016-08-06 21:51] #964 closed

[2016-08-11 14:24] dmethvin opened #970 "3.0 Deprecations and removals"
I'll list them all here including ones we've already completed or may not need to address, just to make sure none slip through the cracks. Per https://jquery.com/upgrade-guide/3.0/ we have these:

### Deprecated
* [ ] jQuery.fx.interval (PR #969)
* [ ] .toggleClass() and .toggleClass(Boolean)
* [x] jQuery.unique renamed to jQuery.uniqueSort
* [x] jQuery.parseJSON
* [x] .ready() signatures other th

[2016-08-12 14:11] dmethvin opened #971 "Standard/automated markup for deprecated or removed API functionality"
Right now it's easy to overlook that some API is deprecated or removed, for example [the .load() method](http://api.jquery.com/load-event/). Sometimes it's best to add explicit wording, for example `jQuery.unique()` is replaced by `jQuery.uniqueSort()`. However it would be nice to have some sort of standard visual for these APIs. Is a modal or inline dialog that can be dismissed/collapsed too intr

[2016-08-12 22:03] dmethvin commented on #122
This was fixed in 3.0 but still needs to be documented for older versions.  It affects a *lot* of Deferred methods so perhaps should be put in a central location, or at the very least made into a reusable thing.

[2016-08-12 22:05] dmethvin commented on #134
I'm going to close this issue. If someone identifies specific places where we need to improve an API it can be done with a new ticket.

[2016-08-12 22:05] #134 closed

[2016-08-14 20:52] dmethvin opened #972 "3.2/3.3 Deprecations"
Similar to #970 this is the rollup of all the deprecations planned for jQuery 3.2 and 3.3 to be sure we don't miss any. We have tickets in the Core tracker for these and a few have their own docs tickets already.

# jQuery 3.2
- [x] [jQuery.holdReady](https://github.com/jquery/jquery/issues/3288) (PR #1160)

# jQuery 3.3
- [x] [Event shorthand methods](https://github.com/jquery/jquery/issues/3214)

[2016-08-17 09:35] xsanda opened #973 "No documentation of '> ...' selector on .find()"
The function .find() supports selectors starting with a gt sign, >. This means that it will start the selector search with a direct child. This behaviour is, as far as I can see, undocumented.

[2016-08-20 19:22] mitar commented on #178
I think type of the argument should then also be changed from `Type: Array or PlainObject` to `Type: Array or String or Number`.

[2016-08-24 11:53] #945 closed

[2016-08-25 13:03] FreelanceWebNinja opened #974 "Feature Request"
Add event handlers for child elements of the button element.

[2016-08-25 14:19] kswedberg commented on #974
This repo is for the API documentation. It seems like your request would be better suited for stackoverflow.com or forum.jquery.com.

[2016-08-25 14:19] #974 closed

[2016-08-26 13:32] PhiLhoSoft opened #975 "unbind accepts several event types"
I read the [`unbind`](http://api.jquery.com/unbind/) documentation. I use `unbind` instead of `off`, because I work on a legacy project.
Anyway, I see the [`bind`](http://api.jquery.com/bind/) doc defines `eventType` as "_A string containing one or more DOM event types_", while `unbind` defines it as "_A string containing a JavaScript event type_".
So it is unclear if we can specify several event

[2016-08-28 17:36] mgol opened #976 "The .load() page still links to the old event alias"
The page at https://api.jquery.com/load/ still says:

This is no longer true as of jQuery 3.0, the second method was removed and there is no logic to detect which method to invoke. We should either remove this note or make it say it **used to** behave like that but it no longer does.

[2016-09-07 19:38] nerdtk opened #978 "Width(), InnerWidth(), and OuterWidth() pages have simple typo in last code sample"
In the script portion of the code example from the bottom most example on the Width(), InnerWidth(), and OuterWidth() pages, the code says ".one" instead of ".on" for attaching the event handler.

`<script>`
`var modWidth = 50;`
`$( "div" ).one( "click", function() {`
    `$( this ).width( modWidth ).addClass( "mod" );`
    `modWidth -= 8;`
`});`
`</script>`

I'm not sure if this typo spans beyond

[2016-09-07 19:40] nerdtk commented on #978
Apologies - I now see that the intention of the example was to only allow one click, and this is likely the intended functionality!  [derp]

I should have looked into the example more to see that :)

[2016-09-07 19:40] #978 closed

[2016-09-15 00:46] Krinkle opened #979 "ajax: Document timeout 0 as meaning no timeout"
It seems this has been in the code for a long time, but was never officially documented. It'd be nice to know that is officially supported and not merely an implementation detail.

http://api.jquery.com/jQuery.ajax/

If not, we should document another value as meaning no timeout (e.g. false, null or something else). This is mainly applicable to use cases where `$.ajax()` is used inside an abstract

[2016-09-16 22:22] azuredusk10 opened #980 ".clone() documentation incorrectly states a parameter's default value"
Hello,

I've been learning how to use the .clone() method.
https://api.jquery.com/clone/

On the documentation it states that the 2nd parameter, _deepWithDataAndEvents_, by default inherits the value you pass as the 1st parameter, _withDataAndEvents_. However, through experimenting with this method, this doesn't seem to be the case. The 2nd parameter just seems to default to false unless you expli

[2016-09-19 14:07] Chealer opened #981 ".val() documentation should mention radio buttons"
http://api.jquery.com/val/ contains:

Since the example covers radio buttons, the description should read:

[2016-09-19 15:38] gibson042 commented on #981
I agree about the mention of radio inputs, and would also like to see some other cleanup there:
* Replace all use of nonstandard `:selected` with standard `:checked`
* Replace nonstandard `:checkbox` with `[type=checkbox]`
* Replace nonstandard `:radio` with `[type=radio]`

@Chealer would you like to submit a pull request?

[2016-09-19 16:33] mgol opened #982 "Upgrade examples to jQuery 3"
Currently our examples use the really, really old jQuery 1.10.2 (it's over 3 years old). We should update them to jQuery 3 (currently 3.1.0). This means we will have to remove examples using removed APIs but I think we should do that anyway; such entries should be short and mostly focus on what to switch to, we shouldn't making it easier for people to use deprecated APIs.

The jQuery used in examp

[2016-09-19 16:34] mgol commented on #982
Note that the jQuery used by examples is a different one to the one used by our sites; the latter is managed globally in the `jquery-wp-content` repo, here: https://github.com/jquery/api.jquery.com/blob/a6f6b37/entries2html.xsl#L15

[2016-09-19 16:34] mgol commented on #982
The issue about upgrading jQuery on our sites is here: https://github.com/jquery/jquery-wp-content/issues/400

cc @dmethvin @timmywil

[2016-09-23 00:32] dimkanewtown commented on #594
I'd like to mention additional caveat for the done() function that should be documented.

If you supply only 1 deferred $.ajax() parameter, then the call back will receive arguments in format (data, textStatus, jqXHR). However if you supply an array of $.ajax(), and use a single callback to handle the results, then the single callback will receive arguments in the array format [[data, textStatus,

[2016-09-23 01:11] dmethvin commented on #594
@dimkanewtown That is already documented, see the note on the page: http://api.jquery.com/deferred.always/

[2016-09-23 02:22] dimkanewtown commented on #594
I have hard time translating what is written there into these two cases:

Single $.ajax() call.
[code]
vs multiple $.ajax() calls
[code]
Where args[] is a multidimensional array
[code]

[2016-09-23 13:27] dmethvin commented on #594
The docs for `jQuery.when` have examples to show what happens. For that case you have two arrays, one for each Deferred, that have the ajax results.

[2016-09-23 13:41] dimkanewtown commented on #594
You're right, $.when documentation describes it to the "t". Was expecting (maybe wrongly) the explanation under done() though. Thanks for the reference.

[2016-09-23 22:07] jribbens opened #984 "Documentation does not make it clear that removed methods are gone"
I spent some time chasing down a bug whereby using the `.load()` event-handler did not work. It turned out that this method has been removed in jQuery 3.0.

I realise that many people are not using the latest versions of jQuery and therefore the documentation has to cater for them. However usually it is expected that the latest documentation documents the latest version primarily, and the document

[2016-09-25 14:49] dmethvin commented on #984
I agree, this is already in #971. If you'd like to work on it please let us know!

[2016-09-25 14:49] #984 closed

[2016-09-26 03:03] gibson042 opened #985 "Document lack of support for Object-wrapped primitives"
When we talk about strings and numbers, we're referring to the primitive values and not the objects that can be produced by respective constructors. This should be made explicit.

cf. https://github.com/jquery/jquery/issues/3324

[2016-10-01 16:09] Chealer commented on #981
Commit 61ffc08636ed39b17d828e6406d63631c3f29ade solves the issue I reported.

[2016-10-08 15:39] agavazov opened #988 "Selector for <a> with block elements inside behaves a little strange - 3.0/3.1"
[code]
This must return 1 element, but return 4.

When I use DIV tag instead A everything works fine.

[code]

[2016-10-08 16:03] agavazov commented on #988
Same problem with native browser selector
[code]

[2016-10-08 16:20] mgol commented on #988
Your HTML is incorrect as the anchor elements can't contain other anchor elements. Look at the DOM after loading the page, it doesn't look like the initial HTML: https://jsbin.com/zefame/edit?html,js,console

[2016-10-08 16:20] #988 closed

[2016-10-09 17:11] tdelmas opened #989 ".outerHeight( function(index, height) ) doesn't specify the function prototype"
https://api.jquery.com/outerheight/#outerHeight-functionindex--height specify only
`Type: Function()`
https://api.jquery.com/innerheight/#innerHeight-function is more specific:
`Type: Function( Integer index, Number height ) => String or Number`
I think for outerHeight it should be the same?

[2016-10-09 22:57] sxlijin opened #990 "jQuery.map() is a lie"
`map` functions generally do not (in my experience, frankly, never) flatten their return by default. I can understand the devs being concerned about library stability and not wanting to change this, since the behavior has been this way for so long, but at the very least, this behavior should be **clearly and explicitly documented at the top of the page** to make it clear that the behavior of `$.ma

[2016-10-09 23:58] dmethvin commented on #990
The documentation for both [jQuery.map()](http://api.jquery.com/jquery.map/) seems pretty clear about this behavior already. There aren't that many words there, I'm not sure how they would be rearranged to make it clearer but you're welcome to submit a PR that has a non-accusatory tone and we'll consider it. In the meantime I'll close this ticket, but again if you feel like you can improve the doc

[2016-10-09 23:58] #990 closed

[2016-10-10 05:06] sxlijin commented on #990
Sorry about the tone! Meant the title as more of a "the cake is a lie"-esque attitude.

[2016-10-19 01:39] Kaelum opened #991 ".val(value) documentation should discuss checkboxes more accurately"
I created the following issue on the jQuery forums:

http://forum.jquery.com/topic/val-value-does-not-work-on-checkboxes-if-value-is-not-an-array

I like the alternative method brought up by Jake, as it seems more clean.  The way that jQuery works does make sense; however, the documentation is misleading.  It doesn't state that the use of an Array is required, rather it states that you can use Arr

[2016-10-19 12:33] mgol commented on #951
PR: #992

[2016-10-26 11:23] #951 closed

[2016-10-26 11:31] #981 closed

[2016-10-26 11:35] mgol opened #993 "Cleanup the .val() docs, remove nonstandard selectors"
The [`.val()`](https://api.jquery.com/val/) page needs cleanup with regards to some pseudo-classes. It was originally reported by @gibson042 in https://github.com/jquery/api.jquery.com/issues/981#issuecomment-248029486:

[2016-10-26 11:36] mgol commented on #981
I extracted @gibson042's proposals into #993 as the PR #987 covered just the initially reported issue.

[2016-10-26 11:37] #985 closed

[2016-11-01 17:23] gatksun opened #995 "Query add wrong element for table"
I tried to add new element : table, but JQuery did wrong.
<div id="mainbox"></div>
I tested javascript:
$('#mainbox').add('table').attr('id','maintable');
I find $('#maintable')[0].tagName is not "TABLE", but it is "DIV".
IF I used $('#mainbox').add('<table id="mountable"></table>'), it would merge table if existing another table whose id is not same.
I do not know if my script is correct. Expect

[2016-11-01 17:24] dmethvin commented on #995
This is a jQuery usage question, best to ask it on StackOverflow.

[2016-11-01 17:24] #995 closed

[2016-11-05 20:47] EhsanKia commented on #843
This should really be updated now. jquery14 seems to now be owned by some scam site, and two of your documentation page currently link to it.

[2016-11-07 17:32] mgol opened #996 "Document jQuery.cleanData"
`jQuery.cleanData` has been in jQuery for ages. It's supposed to be private but it's a convenient hook and jQuery UI & Angular 1.x are both using it for their cleanups. We should document this method.

[2016-11-11 03:16] dmethvin commented on #843
@EhsanKia Can you point me direclty to those documentation pages? Sorry if they're referenced somewher here but since you said "two" I'm thinking you know which ones they are.

[2016-11-11 03:55] EhsanKia commented on #843
@dmethvin There are two, 1.4 and1.41
https://api.jquery.com/category/version/1.4/
https://api.jquery.com/category/version/1.4.1/

[2016-11-13 21:36] gibson042 opened #997 "Empty-context dimensions getters return undefined as of 2.2.0"
Ported from jquery/jquery/issues/3396 .
See jquery/jquery/issues/2319 and jquery/jquery/pull/2701 for explanation.

[2016-11-14 03:26] #997 closed

[2016-11-16 10:35] mgol commented on #843
There is also a blog post at https://blog.jquery.com/2010/01/14/jquery-14-released/

[2016-11-16 10:53] mgol commented on #843
I fixed the API parts in c2f3d41 (forgot to link to the issue, oops). @dmethvin can you fix the blog post?

[2016-11-23 06:18] lgchintake opened #999 "Issue in Ajax Call"
I am using **jQuery v2.1.4.min.js** library.

I am calling ajax giving some parameters to it as like following:

**First Case**
[code]
I have given password having two question marks(??) so it is manipulating it automatically as

{"userName":"abc", "password":"abcjQuery21406515378922229067_1479880736745?"}:

When I remove the `dataType: "json",` it works fine.

**Second Case**

When I write above

[2016-11-23 12:10] mgol commented on #843
Ping @timmywil or @dmethvin :)

[2016-11-24 16:44] Sazira opened #1001 "Animations are now jumpy since i upgraded to 3"
Ever since i upgraded JQuery to version 3 all my animations (show(), fade(), slide(), etc) have become jumpy/not smooth. The upgrade guide says:

This still doesn't tell me how to fix my animations...

[2016-11-28 01:12] dmethvin commented on #843
Done!

[2016-11-28 01:12] #843 closed

[2016-11-28 01:16] dmethvin commented on #999
This is a dup of gh-1799.

[2016-11-28 09:38] mgol commented on #999
@dmethvin There is no issue 1799 in this repo; where did you want to link?

[2016-11-28 09:53] lgchintake commented on #999
@**dmethvin** Where to find issue no. 1799 ?

[2016-11-28 12:52] dmethvin commented on #999
Sorry, it's here: https://github.com/jquery/jquery/issues/1799

Since this is the docs repo, I suppose this is a request to add something to the `jQuery.ajax` page about it? It doesn't look like it's currently mentioned.

[2016-11-28 16:23] aloisdg commented on #429
If you reach this place, you might find this SO post helpful: [Should I use .done() and .fail() for new jQuery AJAX code instead of success and error](http://stackoverflow.com/questions/10931836/should-i-use-done-and-fail-for-new-jquery-ajax-code-instead-of-success-and).

[2016-12-02 06:06] gibson042 commented on #1001
The best advice we can give is not to rely on jQuery overriding cascade-inherited `display: none`, instead hiding animated elements solely with inline styles (at least at the time of `.show()`/`.slide()`/etc.).

[2016-12-02 06:06] #1001 closed

[2016-12-02 09:44] Sazira commented on #1001
My styles are inline! I use JQuery to hide stuff before showing them so those styles are always inline! Why did you close this?? I still don't have a solution!

[2016-12-02 14:37] kswedberg commented on #1001
@Sazira : this isn't the place bug reports or requests for help. This is the repo for the the API _documentation_. A more appropriate place would probably be stackoverflow.com

[2016-12-02 15:39] Sazira commented on #1001
@kswedberg Stackoverflow isn't giving me any answeres either. This post is about an issue in the API documentation so I think I'm in the right place.

So basically what you're telling me is that JQuery ruined all effects and animations and all I can do is go back to JQuery 2??

[2016-12-02 16:17] timmywil commented on #1001
@Sazira The problem hasn't been pinpointed yet. Feel free to open an issue at https://github.com/jquery/jquery/issues with a test case and we can take a closer look.

[2016-12-02 16:27] Sazira commented on #1001
@timmywil does that mean someone's working on it?

[2016-12-02 16:44] timmywil commented on #1001
@Sazira No, it means that we don't know what to work on. The problem is currently too vague. "My animations are broken" is not a bug report. We need it to be as specific as possible in order for us to come up with a solution. For instance, if the problem was "animations noticeably slow down due to the use of rAF", we would definitely look at that. Right now, we don't if the problem is in your code

[2016-12-05 13:13] kswedberg commented on #1001
@Sazira , I'm sorry you're having a problem with animations in jQuery 3, and I hope @timmywil's comment provides enough guidance for you to direct your issue to the appropriate venue. Just for the record, though, the upgrade guide you reference is in the [jquery.com repo](https://github.com/jquery/jquery.com/), not the api.jquery.com repo.

[2016-12-09 20:08] james1293 opened #1003 ".prop() documentation has incorrectly placed parenthesis"
[Line 89 ](https://github.com/jquery/api.jquery.com/blob/master/entries/prop.xml#L89) has a parenthesis too early.
Here are lines 86 through 89:
[code]
Line 89 should be
` ".is( \":checked\" ): <b>" + $input.is( ":checked" )  + "</b>");`
so that the `+ "</b>"` is in the .html() command.

[2016-12-19 15:41] AurelioDeRosa commented on #1003
I confirm the issue.

[2016-12-19 16:49] #993 closed

[2016-12-19 16:49] #1003 closed

[2016-12-19 17:05] AurelioDeRosa commented on #973
You're right in saying that this is not documented. However, I don't think we should document or encourage it because that is a non-standard selector. In fact, it won't work with `querySelector()`. Any other opinion on this?

[2016-12-19 17:10] AurelioDeRosa commented on #975
The issue reported is correct. I'm going to submit a PR to address it.

[2016-12-19 17:44] mgol commented on #973
Leading combinators are perfectly fine and the upcoming `.queryAll` standard, once it finally materializes, will support them natively in browsers.

Using such selectors doesn't preclude the selector from going the `querySelectorAll` path as internally jQuery changes:
[code]
to:
[code]

I think this issue is valid and we should have it documented somewhere.

[2016-12-19 17:51] AurelioDeRosa commented on #973
Cool. I wasn't aware `queryAll()` was going to support such selectors.

[2016-12-19 17:58] AurelioDeRosa commented on #980
As you can see [from the source](https://github.com/jquery/jquery/blob/2d4f53416e5f74fa98e0c1d66b6f3c285a12f0ce/src/manipulation.js#L393):

[code]

if no value is passed for `deepDataAndEvents`, the value of `dataAndEvents` is used.

I'm closing this issue for now. If someone disagrees with me, feel free to open again.

[2016-12-19 17:58] #980 closed

[2016-12-19 18:00] AurelioDeRosa commented on #989
Thank you for opening this issue. I'll fix this ASAP.

[2016-12-19 18:02] mgol commented on #973
`querySelectorAll` wasn't able to support them because it runs queries against the whole document and only afterwards filters out everything not contained within the queried context. This is contrary to how jQuery (& most other libraries at the time) selection worked and made selectors with leading combinators impossible - a problem [John Resig complained about in 2008](http://ejohn.org/blog/thoug

[2016-12-19 18:04] #975 closed

[2016-12-19 18:10] kswedberg commented on #973
@mgol : it looks like `.queryAll()` has been removed from the DOM spec…
http://stackoverflow.com/questions/23269785/whats-the-difference-between-queryall-and-queryselectorall#38245620

[2016-12-19 18:15] mgol commented on #973
@kswedberg They have been removed until some details in how it should utilize JS subclassing etc. are resolved. They should be back once all the details are fleshed out (I hope!).

In any case, such selectors in jQuery are perfectly fine and use the fast qSA path so this issue is still valid. :)

[2016-12-19 18:24] kswedberg commented on #973
@mgol : yes, I agree about the main issue, of course: these selectors are perfectly fine in jQuery. 👍

[2016-12-19 20:15] therobinkim opened #1008 "http://api.jquery.com/one/ example needs named parameter"
[code]

needs an `event` in the callback function parameter list

[code]

http://api.jquery.com/one/

[2016-12-19 21:02] AurelioDeRosa commented on #1008
Thank you for reporting this issue. Do you want to submit a PR for this?

[2016-12-19 21:19] AurelioDeRosa commented on #991
In the documentation we have:

Is this description good enough for you or would you expect something different?

[2016-12-20 20:02] #958 closed

[2016-12-20 22:29] callaingit opened #1013 "Surprising callbacks.lock() behavior vs what is documented about it"
callbacks.lock() seems to behave differently than what is documented at https://api.jquery.com/callbacks.lock/ in more recent versions of jQuery

Specifically, the second example does produce what it says it should produce, but not in more recent jQuery versions.

With jQuery 1.9.1 and 2.1.3 for example, the output is

foo: hello
foo: hello
bar: hello

But in version 2.2.0 and 3.1.1, I am getting

[2016-12-20 22:54] AurelioDeRosa commented on #1013
This seems related to https://github.com/jquery/jquery/commit/32bf9178cace8c52a31c468a28adde9a4fdc4671. So, I think there has been a change in the API.

[2016-12-21 03:49] dmethvin commented on #1013
@AurelioDeRosa it looks like @gibson042 intended that it be put into 3.0 but it made its way into 2.2.0 as well. That was the release where we had to back-port a ton of stuff from the pre-3.0 fork and a few unintended things got in there.

It seems like we should have the examples from the docs in the unit tests to prevent unintended divergence.  The Callbacks interface is something we only use a

[2016-12-21 09:18] eironman opened #1014 "Contradiction between show and css documentation about !important behaviour"
In page http://api.jquery.com/show/ there is this note:

Note: If using !important in your styles, such as  display: none !important, it is necessary to override the style using .css( "display", "block !important") should you wish for .show() to function correctly.

Whereas in http://api.jquery.com/css/ we have this note:

Note: .css() ignores !important declarations. So, the statement $( "p" ).cs

[2016-12-21 11:31] AurelioDeRosa commented on #1014
Good point. Do you want to submit a PR for this?

[2016-12-21 15:22] eironman commented on #1014
Ah, ok, I'll do that, thanks

[2016-12-23 05:01] gibson042 commented on #1013
Turns out this is a code issue, not a docs issue. Moving to https://github.com/jquery/jquery/issues/3469 .

[2016-12-23 05:01] #1013 closed

[2016-12-28 03:07] tcoughlin3 commented on #1008
I'd love to help with this. I hope you don't mind, I submitted a PR (#1016)!

[2017-01-03 10:15] #1008 closed

[2017-01-04 22:25] jameslmoser opened #1017 "TypeError: Cannot read property 'contains' of null"
When calling a jQuery function on an element (i.e. element.toggle(false)) inside a template created by document.createElement("template") I get an exception.  I'm using 1.12.4, and this seems to be an easy fix by changing the following line (1316):

			var adown = a.nodeType === 9 ? a.documentElement : a,
to:

			var adown = a.nodeType === 9 && a.documentElement ? a.documentElement : a,

or possib

[2017-01-04 22:42] AurelioDeRosa commented on #1017
This is a possible issue with the library itself, not the documentation. Can you open the issue at https://github.com/jquery/jquery?

[2017-01-04 22:42] #1017 closed

[2017-01-04 22:43] jameslmoser commented on #1017
Sorry, for some reason I thought thats where I was.  Will do, thanks.

[2017-01-16 22:00] #973 closed

[2017-01-17 09:47] #979 closed

[2017-01-18 16:11] onebytegone commented on #959
I recently noted this issue as well. The section that is particularly confusing is listed below, please note bold italicized text.

From this section of the docs I would gather that, using the example that @Aqours gave, the following would result:

   1. The script loads on the domain of 'https://www.a.com' in a browser does not have CORS, e.g. IE9.
   2. An `ajax` request is made to a different d

[2017-01-22 04:04] stelovsky commented on #245
Why closed? The issue still persists.

[2017-01-22 04:12] kswedberg commented on #245
It's mentioned in [jQuery.ajax documentation](https://api.jquery.com/jquery.ajax/) as one of the properties and methods that the jqXHR object exposes "For backward compatibility with XMLHttpRequest, a jqXHR object will expose the following properties and methods…"

[2017-01-22 04:25] gibson042 opened #1019 "Mandatory key argument to jqXHR#getResponseHeader is not documented"
Ref https://github.com/jquery/jquery/issues/3508

jqXHR objects expose a `getResponseHeader` method which accepts a single mandatory string `key`, but that argument is not documented. jqXHR itself is buried at http://api.jquery.com/jQuery.ajax/#jqXHR , but this particular issue can be fixed without correcting that deeper issue.

[2017-01-22 05:05] gibson042 commented on #245
This should be improved by gh-1020 as well.

[2017-01-23 03:03] dmethvin commented on #959
This sounds like a very good clarification, can you submit a PR at https://github.com/jquery/api.jquery.com/?

The current docs are consistent in that `dataType` is about the type of the *received* data and it only mentions changing the URL when it does so itself. However, I can understand the confusion.

[2017-01-24 17:44] dlsso commented on #594
So it seems all the information is there, but not necessarily where people are expecting it. I think what we need is someone to rethink the organization and redo it so that parameter info is obvious or at least easy to get to no matter which page you're on.

Unfortunately I don't have the depth of knowledge in this area to make the PR myself.

[2017-01-24 22:29] #976 closed

[2017-01-24 22:46] AurelioDeRosa commented on #959
@dmethvin are you sure you wanted to close this issue?

[2017-01-25 11:06] MacroMan commented on #319
With this property still available, is it now time to actually document this feature?

[2017-01-25 18:56] AurelioDeRosa commented on #319
@dmethvin I'm reopening this issue to get your input here. If this is something not meant for public use, feel free to close it again.

[2017-01-25 20:22] dmethvin commented on #319
We've been talking about trying to use the native event object for jQuery 4, in which case we wouldn't be pushing foreign properties into it. I still think that in most cases there are better ways to detect this that don't require jQuery internals.

[2017-01-26 09:11] MacroMan commented on #319
Would it be wise to document the recommended/better way to achieve this? I've had to use this property several times now.

[2017-01-26 12:24] dmethvin commented on #319
Ideally you'd ask that question on StackOverflow, it's not a question that would be answered by API docs since it's a "how do I..." instead of one asking how a particular API works.

As for how, it depends on what you're doing. A simple case might be
[code]

[2017-01-26 12:35] MacroMan commented on #319
I agree. Feel free to close the ticket again.

[2017-01-26 12:44] #319 closed

[2017-01-27 03:09] dmethvin commented on #959
Duh, no! I must have confused two tabs at the time. @onebytegone you are in the right place! 😕

[2017-02-06 17:51] timmywil opened #1022 "[AJAX] add note about redirect failure due to differing origins"
Something like "a 3xx redirect status will only be seen if the redirect is to another domain."

Migrated from https://github.com/jquery/jquery/issues/3467

[2017-02-09 15:04] coldice opened #1023 "(In)correct usage of .data() to set data attributes should be clarified in doc"
Referring to the simpler data function (http://api.jquery.com/data/) The behavior of the .data() function when setting data should be described more precisely, especially the difference between setting a html5 data attribute (properly) with .attr() and (not properly) with .data().

I was about to file a bug report with this sample: https://jsfiddle.net/wfh1ppxv/ when I found following this closed

[2017-02-09 15:25] mgol commented on #1023
The docs at https://api.jquery.com/data/#data-html5 say:

Do you have a suggestion how to improve that?

[2017-02-09 15:56] coldice commented on #1023
I think this part is okay, you just have to read the documentation carefully. My issue was only with the .data() function to **set** data, while in the other linked issue the author had trouble reading the data. But in general, I think the confusion in both cases results from the fact that the function to set does not work _like_ the function to get.

I would put a note at the end or below the fir

[2017-02-11 12:36] architchandra commented on #49
I'm a beginner, so might be wrong, but I am facing a lot of problems trying to understand how to use the methods related to $.ajax and deferred objects. At every step, I'm having to scour StackOverflow. The documentation on these fields is not well-suited for people who already don't have a thorough understanding. Would be grateful if fixed.

[2017-02-20 16:51] al3x-huang opened #1024 "$(window).height incorrect for chrome mobile with address bar hiding"
**Background**
On Android chrome, the address bar is hidden whenever the user scrolls down and reappears when the user scrolls back up.

**Issue**
Using $(window).height always returns the same height as when the address bar is showing even though a resize event is triggered.

**Workaround**
I used window.innerHeight instead, which produces the correct, updated height when the resizing event occur

[2017-03-08 09:41] #1019 closed

[2017-03-20 04:32] shyamji1983 opened #1028 "Not able to edit demo codes in API pages so I can see the impact."
I am looking for this feature in jQuery/ jQuiryUI site from long time, but still it is not available. I am not able to edit code of demos, so I can change the live code and can see the impact. In this way I can learn jquery easily & quickly.

Alternatively you can also provide external links for users like link to CodePen /JSBin /JSfiddle or any other site you prefer.

Now it is time to add this f

[2017-03-20 14:58] ravenboilinux opened #1029 "When using the click() function when in use strict and IE throws an error"
When you want to programmable click a button you get this error in IE:
Accessing the 'caller' property of a function or arguments object is not allowed in strict mode

This only happens when you are use strict mode.

[2017-03-20 16:12] mgol commented on #1029
This is a repo for the API site (https://api.jquery.com/), not jQuery (the jQuery one is at https://github.com/jquery/jquery).

Note, though, that this report doesn't contain enough information for us. We'd need a test case on https://jsfiddle.net or https://jsbin.com.

[2017-03-20 16:12] #1029 closed

[2017-03-20 16:21] ravenboilinux commented on #1029
Sorry thank you

[2017-03-20 21:08] dmethvin commented on #1028
That is a great idea but also quite a bit of work. Would you be able to do the work on it?

[2017-03-20 22:34] #906 closed

[2017-03-21 05:28] shyamji1983 commented on #1028
Can you or anyone guide me how it will be implemented. Sure I can also contribute to implement this.

[2017-03-22 02:58] dmethvin commented on #1028
Deciding how to implement it would be part of the work. There's no reason to create another bin-like web site to run the code so most likely we'd need to find one of the bin sites that could handle the traffic and wanted to work with us.

[2017-03-22 08:40] mgol commented on #1028
Wasn't the plan to cooperate with jsbin on that?
--
Michał Gołębiowski

[2017-03-22 09:02] #205 closed

[2017-03-22 14:45] #989 closed

[2017-03-22 14:56] dmethvin commented on #1028
@mgol Yes there was some discussion that jsbin would be a good partner, but nothing came of it since we didn't have anyone taking on the project.

It seems like the rough outline would be:

1) Determine which bin-like site has both the interest and the capacity to handle our examples. CodePen and jsbin are probably at the top of my list.
2) Figure out the technical implementation. Would we iframe

[2017-03-23 10:49] mgol opened #1032 "Document jQuery.each to accept array-likes"
#473 added a note to `jQuery.each` documentation about array-likes but it's not enough. We have an ArrayLikeObject type and we should use it directly in the function signature definition.

[2017-03-23 10:49] mgol commented on #473
I don't think the current fix for this issue is enough; see #1032 for a followup.

[2017-03-23 11:14] shyamji1983 commented on #1028
We should keep examples on jquery.com own pages, as user will only click on external bin (codepen / jsbin) link if they want to play with the given example code.

[2017-03-31 23:37] drscre opened #1033 "Deferred: filtering reject value example is not valid any more"
The filtering reject value example at https://api.jquery.com/deferred.then/ is not valid since jQuery became Promises/A+ compatible.

I guess the description of .then() method should also be updated

[2017-04-01 04:28] akihikodaki opened #1034 "jQuery.isFunction: ambiguous criteria"
See also https://github.com/jquery/jquery/issues/3600.

The description says:

https://github.com/jquery/api.jquery.com/blob/d622e1244802cd55670265698f0d66383e3dedaa/entries/jQuery.isFunction.xml#L10

_JavaScript function object_ is ambiguous. There are some candidates:
* ECMAScript Function Objects

* Function Objects

* function

([_ECMAScript 2016 Language Specification_](http://www.ecma-intern

[2017-04-12 12:41] lddubeau opened #1035 "Update the documentation of jQuery.data to indicate what the function actually accepts for the 1st parameter."
The documentation for [jQuery.data](https://api.jquery.com/jquery.data/) gives the following signatures:

[code]

In all three the `element` parameter is typed as `Element`. However, jQuery does accept an `element` which is of type `Document`. Two pieces of evidence:

1. In practice, I've used `jQuery.data` on `Document` objects for years, without any trouble.

2. The data machinery calls on [`acc

[2017-05-11 16:32] marioacc commented on #420
@dandv

Do you have some example/insight about how to do that?

[2017-05-28 09:11] entis opened #1038 "Clear up when .height(), .width() etc return fractional number"
From [.height() documentation page](http://api.jquery.com/height/):

I'd welcome more information on cases in which these numbers might be fractional. With current use of percentage-based layouts and subpixel rendering the difference between fraction and integer can be significant. So far I haven't been able to find out an example of .height() returning fractional number.

[2017-05-30 19:42] dmethvin commented on #1038
jQuery doesn't control when those numbers are fractional, so having jQuery document when they currently might be fractional in the currently supported browsers seems like a never-ending battle of obsolete information. Here's one example that returns fractional pixels in Chrome Windows at the moment: http://jsbin.com/mehayecolo/1/edit?html,output

[2017-06-06 01:31] gibson042 opened #1039 "Better document Deferred–thenable interactions"
(moved from https://github.com/jquery/jquery/issues/3646#issuecomment-306290209 )

Update https://api.jquery.com/jQuery.Deferred/ and https://api.jquery.com/deferred.resolve/ to clearly define the behavior of directly resolving a Deferred with a thenable, and https://api.jquery.com/deferred.then/ to define the result of returning a thenable from `.then()`.

[2017-06-07 15:33] leonard-thieu opened #1040 "'Selector' type ambiguous"
From the [Types page](http://api.jquery.com/Types/#Selector):

The [jQuery constructor](http://api.jquery.com/jQuery/#jQuery1) accepts `Selector`, `Element`, `Array`, `PlainObject`, and `jQuery`.

The definitions are conflicting. Does `Selector` really mean `String` when it's used throughout documentation or is the `selector` argument supposed to be of type `String` instead of `Selector`?

[2017-06-07 18:21] danlo opened #1041 "Confusing behavior with jquery.ajax success"
Greetings,

https://github.com/jquery/api.jquery.com/blob/master/entries/jQuery.ajax.xml#L170

When my application responds with a status: 200 and NO content
the success function does not fire.
When my application responds with a status: 204 and NO content
the success function does fire.

I believe that adding a note that success() will not fire with a status code of 200 and no content, and that i

[2017-06-07 22:32] dmethvin commented on #1041
Hi @danlo, there is nothing wrong with returning 200 and no content, unless your server or the `$.ajax` makes some additional request, for example saying the data type is JSON. An empty request is not valid JSON. If the request said `dataType: "text"` or the server returned `Content-Type: text/plain` for example, there should be no problem at all.

[2017-06-12 01:44] #1041 closed

[2017-06-12 01:53] dmethvin commented on #1040
A `Selector` string is a specific type of string that is a valid CSS selector. Note that the jQuery constructor also accepts other strings that represent HTML markup, which we distinguish by how they "look".

What it's saying is that you can pass either a selector string or an element itself, for example `jQuery("body")`,  `jQuery(document.body)`, and `jQuery([ document.body ])` all get you the sa